
    <%= render partial: 'nav' %>

    <main>
      <% if flash[:success] %>
        <div class="success-div">
          <h6 class = "success-text"> <%= flash[:success] %> </h6>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="error-div">
          <h6 class = "error-text"> <%= flash[:error] %> </h6>
        </div>
      <% end %>
      <div class="container">
        <div class="row">
        <div class="col s12">
          <p class='account-header' style='text-align:center'>Affiliate Statistics</p>
        </div>
        </div>
        <div class="row center">
          <div class="col l3 m3 s6" style='margin-top: 10px;'>
            <p class="dashboard-headers"><strong>Total Affilaites</strong></p>
            <p><%= @total %></p>
          </div>
          <div class="col l3 m3 s6" style='margin-top: 10px;'>
            <p class="dashboard-headers"><strong>New this Week</strong></p>
            <p><%= @begining_of_week%></p>
          </div>
          <div class="col l3 m3 s6" style='margin-top: 10px;'>
            <p class="dashboard-headers"><strong>New this Month</strong></p>
            <p><%= @begining_of_month%></p>
          </div>
          <div class="col l3 m3 s6" style='margin-top: 10px;'>
            <p class="dashboard-headers"><strong>New this Year</strong></p>
            <p><%= @begining_of_year%></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
              <div class="input-field col s12" id='login-content'>
                <%= form_for User.new do |f| %>
                  <%= f.text_field :name, :class => 'login-inputs black-text', :placeholder => 'name' %>
                  <%= f.email_field :email, :class => 'login-inputs black-text', :placeholder => 'email@address.com' %>
                  <%= f.password_field :password, :class => 'login-inputs black-text', :placeholder => 'password' %>
                  <%= f.password_field :password_confirmation, :class => 'login-inputs black-text', :placeholder => 'confirm password' %>
                  <%= f.hidden_field :status, :value => 1 %>
                  <%= f.submit "Create User", :class => "btn waves-effect grey darken-3", :style=> "width:300px" %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
