
    <%= render partial: 'nav' %>
    <main>
      <div class="container" id='main-content'>
        <div class="row">
          <div class="col s12 left">
            <h3>Edit Banners</h3>
          </div>
        </div>
        <% if flash[:error] %>
          <div class="error-div">
            <% flash[:error].each do |error| %>
              <h5 class = "error-text"> <%= error %></h5>
            <% end %>
          </div>
        <% end %>
        <% if flash[:success] %>
          <div class="success-div">
            <h5 class = "success-text"> <%= flash[:success] %></h5>
          </div>
        <% end %>
        <div class="row">
          <div class="col s12">
            <%= form_for Banner.new do |f| %>
              <p> Banner Description </p>
              <%= f.text_field :description, :placeholder => "Description...", :required => true %>
              <p> Banner Image </p>
              <%= f.file_field :image, :required => true %> </br>
              <p> Make Active? </p>
              <%= f.select :status, :required => true do %>
                <% ['Active', 'Non-Active'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %>
              <p>Linked Page</p>
              <%= f.select :link_to, :required => true do %>
                <% ['Best Sellers', 'New Arrivals', 'Featured'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %>
              <%= f.submit "Create New Banner", :class=> 'btn btn' %>
            <% end %>

            <% @banners.each do |banner| %>
              <div id = "banner-div" style="border:1px solid black; width: 49%; display: inline-block; text-align: center">
                <%= image_tag banner.image.url(:medium), :class => "responsive-img" %>
                <div class="banner-info" id = "banner-info-<%=banner.id%>">
                  <h6> Title: <%= banner.description %></h6>
                  <h6> Status: <%= banner.status %> </h6>
                  <h6> Linked Page: <%= banner.link_to %></h6>
                  <button type="button" class="edit-button" id="edit-banner-<%=banner.id%>">Edit Banner</button>
                </div>
                <div class="edit-banner-div" id="edit-div-<%=banner.id%>" style="display:none">
                  <h3>Edit Banner Div....</h3>
                  <%= form_for banner do |f| %>
                    <p> Banner Description </p>
                    <%= f.text_field :description, :placeholder => "Description...", :required => true %>
                    <p> Make Active? </p>
                    <%= f.select :status, :required => true do %>
                      <% ['Active', 'Non-Active'].each do |a| %>
                        <%= content_tag(:option, a, value: a,) %>
                      <% end %>
                    <% end %>
                    <p>Linked Page</p>
                    <%= f.select :link_to, :required => true do %>
                      <% ['Best Sellers', 'New Arrivals', 'Featured'].each do |a| %>
                        <%= content_tag(:option, a, value: a,) %>
                      <% end %>
                    <% end %>
                    <%= f.submit "Update Banner", :class => 'btn btn' %> <br/>
                    <%= button_to "Delete #{banner.description} banner", banner_path(banner.id), :class => 'btn btn-red', method: :delete %>
                  <% end %>
                  <button type="button" class="cancel-button" id="cancel-button-<%=banner.id%>">Cancel</button>
                </div>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </main>
    <script>
    $(document).ready(function(){
      $('.edit-button').click(function(){
        var id = $(this).attr('id');
        id = id.split('-');
        var bannerId = id[2];
        console.log(bannerId);
        $("#edit-div-"+bannerId).css({
          display: 'inherit'
        })
        $('#banner-info-'+bannerId).css({
          display: 'none'
        })
      })
      $('.cancel-button').click(function(){
        var id = $(this).attr('id');
        id = id.split('-');
        var bannerId = id[2];
        console.log(bannerId);
        $("#edit-div-"+bannerId).css({
          display: 'none'
        })
        $('#banner-info-'+bannerId).css({
          display: 'inherit'
        })
      })
    })
    </script>

  </body>
</html>
