
    <%= render partial: 'nav' %>

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Overall Metrics</p>
          </div>
        </div>
        <div class="row">
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Conversion Rate</strong><p>
            <p> <%= '%.3f' % ((@total_orders.to_f/@total_show_impressions.count)*100 )%>% (<%= @total_orders %>/<%= @total_show_impressions.count %>)</p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Sales</strong><p>
            <p> $<%= @total_sales %>.00 </p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Impressions</strong><p>
            <p><%= @total_impressions.count %> </p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Unique Visitors</strong><p>
            <p><%= @total_unique_views.count %></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'> <%= past_7_days.strftime("%b %d, %Y") %> to <%= Time.now.strftime("%b %d, %Y") %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Conversion Rate</strong><p>
            <p><%= '%.3f' % ((@orders_7_days.to_f/@weeks_show_impressions.count)*100) %>% (<%= @orders_7_days %>/<%= @weeks_show_impressions.count %>)</p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Sales</strong><p>
            <p>$<%= @sales_7_days %>.00 </p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Impressions</strong><p>
            <p> <%= @weeks_impressions.count %> </p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Unique Visitors</strong><p>
            <p><%= @weeks_unique_views.count %></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Week Orders</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <div class="row">
              <div class="col l3 m6 s12 center">
                <p class='dashboard-headers'><strong>Total Orders</strong></p>
                <p>78</p>
              </div>
              <div class="col l3 m6 s12 center">
                <p class='dashboard-headers'><strong>Products Sold</strong></p>
                <p><%= @orders_7_days %> </p>
              </div>
              <div class="col l3 m6 s12 center">
                <p class='dashboard-headers'><strong>Top Selling Product</strong></p>
                <p> <%= @top_selling_week_product_item.description %> <%= @top_selling_week_product_item.product.title %> </p>
              </div>
              <div class="col l3 m6 s12 center">
                <p class='dashboard-headers'><strong>Top Selling Affiliate</strong></p>
                <p>$2000</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center">
                <p class='account-header'>Top Selling Products</p>
              </div>
            </div>
            <% @top_selling_products.each do |product| %>
            <div class="row">
              <div class="col l3 m6 s12 center">
                <%= image_tag product.image.url(:thumb), :style => "width: 100px" %>
                <p> <%= product.title %>: <%= product.total_orders %> orders </p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
