<h1> <%= current_user.email %> Admin Page </h1>
<%= link_to "Product Page", products_path %>

<h3> Users: </h3>
<% @users.each do |user| %>
<h5><%= user.email %>:</h5>
<% end %>

<h3> Affiliates: </h3>
<% @affiliates.each do |affiliate| %>
<h5> <%= affiliate.email %> </h5>
<% end %>


</br></br></br>

<section ng-controller="ProductsController">

<div id = "create-product-div">
  <h3>Create a Product:</h3>
  <form ng-submit="checkCategory()" ng-hide="apparel_quantity || total_quantity">
    <input type="text" ng-model="newProduct.title" placeholder="Product Title" required>
    <input type="text" ng-model="newProduct.price" placeholder="Product Price" required>
    <input type="text" ng-model="newProduct.category" placeholder="Product Category" required>
    <!-- <select ng-model="newProduct.category" placeholder = "Product Category" required>
      <option value="Tech">Tech</option>
      <option value="Apparel">Apparel</option>
      <option value="Accessories">Accessories</option>
      <option value="Miscellanious">Miscellanious</option>
    </select> -->
    <input type="text" ng-model="newProduct.description" placeholder="Product Description" required>
    <input type="text" ng-model="newProduct.picture" placeholder = "Product Picture" required>
    <input type="submit" name="name" value="Create Product">
  </form>

  <form ng-submit="createProduct()">
    <input ng-show="total_quantity || apparel_quantity" type="text" ng-model="newProduct.title" placeholder="Product Title" required>
    <input ng-show="total_quantity || apparel_quantity" type="text" ng-model="newProduct.price" placeholder="Product Price" required>
    <input ng-show="total_quantity || apparel_quantity" type="text" ng-model="newProduct.category" placeholder = "Product Category" required>
    <input ng-show="total_quantity || apparel_quantity" type="text" ng-model="newProduct.description" placeholder="Product Description" required>
    <input ng-show="total_quantity || apparel_quantity" type="text" ng-model="newProduct.picture" placeholder = "Product Picture" required>
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.XXL_quantity" placeholder="XXL Quantity">
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.XL_quantity" placeholder="XL Quantity">
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.L_quantity" placeholder="L Quantity">
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.M_quantity" placeholder="M Quantity">
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.S_quantity" placeholder="S Quantity">
    <input ng-show="apparel_quantity" type="text" name="name" ng-model="newProduct.XS_quantity" placeholder="XS Quantity">
    <input ng-show="total_quantity" type = "text" ng-model = "newProduct.total_quantity" placeholder = "Product Quantity">
    <input ng-show="total_quantity || apparel_quantity" type="submit" name="name" value="Create Product">
  </form>
</div>

</section>

<!-- <div ng-repeat = "product in products">
  <div id = "product">
  <h1>{{product.title}}</h1>
  <div ng-if="product.category === 'Apparel'">
    <h4>XXL: {{product.XXL_quantity}}</h4>
    <h4>XL: {{product.XL_quantity}}</h4>
    <h4>L: {{product.L_quantity}}</h4>
    <h4>M: {{product.M_quantity}}</h4>
    <h4>S: {{product.S_quantity}}</h4>
    <h4>XS: {{product.XS_quantity}}</h4>
  </div>
  <div ng-if="product.category != 'Apparel'">
    <h4>Quantity: {{product.total_quantity}}</h4>
  </div>
  </div>
</div> -->




<div class = "user-forms">
  <h3> Create an Affiliate: </h3>
  <%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.hidden_field :status, :value => 1 %>
  <%= f.submit "Create Affiliate" %>
  <% end %>
</div>
