<h1> <%= current_user.email %> Admin Page </h1>
<%= link_to "Product Page", products_path %>

<h3> Users: </h3>
<% if @users.length === 0 %>
  <h6>No users have signed-up!</h6>
<% else %>
  <% @users.each do |user| %>
    <h5><%= user.email %></h5>
    <%= button_to "X", user_path(user.id), method: :delete %>
  <% end %>
<% end %>

<h3> Affiliates: </h3>
<% if @affiliates.length === 0 %>
  <h6> No affiliates have signed-up!</h6>
<% else %>
  <% @affiliates.each do |affiliate| %>
    <h5> <%= affiliate.email %> </h5>
    <%= button_to "X", user_path(affiliate.id), method: :delete %>
  <% end %>
<% end %>


</br></br></br>

<div class="user-form">

<% if @affiliates.length === 0 %>
  <h6>Cannot create any products until affiliates have signed-up for DealBaked!</h6>
<% else %>
  <%= form_for @product do |f| %>
    <%= f.text_field :title, :placeholder => "Product Title", :required => true %>
    <%= f.text_field :description, :placeholder => "Product Description", :required => true %>
    <%= f.select :category, :required => true do %>
      <% ['Apparel', 'Essentials', 'Accessories', 'Art/Culture', 'Tech', 'Gadgets'].each do |a| %>
        <%= content_tag(:option, a, value: a,) %>
      <% end %>
    <% end %>
    <%= f.number_field :price, :placeholder => "Product Price", :required => true %>
    <%= f.text_field :picture, :placeholder => "Product Picture", :required => true %>
    <%= f.select :user_id, :required => true do %>
      <% @affiliates.each do |a| %>
        <%= content_tag(:option, a.email, value: a.id,) %>
      <% end %>
    <% end %>
    <%= f.number_field :status, :placeholder => "Product Status", :required => true %>
    <%= f.text_field :feature_one, :placeholder => "Feature One" %>
    <%= f.text_field :feature_two, :placeholder => "Feature Two" %>
    <%= f.text_field :feature_three, :placeholder => "Feature Three" %>
    <%= f.text_field :feature_four, :placeholder => "Feature Four" %>
    <%= f.text_field :feature_five, :placeholder => "Feature Five" %>
    <%= f.submit "Create Product" %>
  <% end %>
<% end %>

</div>

<div class = "user-forms">
  <h3> Create an Affiliate: </h3>
  <%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.hidden_field :status, :value => 1 %>
  <%= f.submit "Create Affiliate" %>
  <% end %>
</div>
