
    <%= render partial: 'nav' %>

    <main>
      <div class="container" id='main-content'>
        <div class="row">
          <div class="col s12 left">
            <h3>Dashboard</h3>
          </div>
        </div>
        <div class="row">
          <div class="col l3 m6 s12 center">
            <div class="metric-box">
              <div class="metric-heading">
                <p><i id='fa-metric' class="fa fa-trophy" aria-hidden="true"></i>Total <strong>C/R</strong><p>
              </div>
              <div class="metric-body">
                <h4><%= '%.3f' % ((@total_orders.to_f/@total_show_impressions.count)*100 )%>%</h4>
              </div>
            </div>
          </div>
          <div class="col l3 m6 s12 center">
            <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-dollar" aria-hidden="true"></i>Total <strong>Sales</strong><p>
            </div>
            <div class="metric-body">
              <h4>$<%= @total_sales %>.00</h4>
            </div>
          </div>
          </div>
          <div class="col l3 m6 s12 center">
            <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-globe" aria-hidden="true"></i>Total Unique <strong>Hits</strong><p>
            </div>
            <div class="metric-body">
              <h4><%= @total_unique_views.count %></h4>
            </div>
          </div>
          </div>
          <div class="col l3 m6 s12 center">
            <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-users" aria-hidden="true"></i>Total <strong>Users</strong><p>
            </div>
            <div class="metric-body">
              <h4><%= @users.count %></h4>
            </div>
          </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col s12 center">
            <p class='account-header'> <%= past_7_days.strftime("%b %d, %Y") %> to <%= Time.now.strftime("%b %d, %Y") %> </p>
          </div>
        </div> -->
        <div class="row">
          <div class="col l6 m12 s12 center">
            <!-- <p class='dashboard-headers'><strong>Conversion Rate</strong><p>
            <p><%= '%.3f' % ((@orders_7_days.to_f/@weeks_show_impressions.count)*100) %>% (<%= @orders_7_days %>/<%= @weeks_show_impressions.count %>)</p> -->
            <div class="metric-box">
              <div class="metric-heading">
                <h5>Monthly Sales</h5>
              </div>
              <div style='max-height:300px'>
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col l6 m12 s12 center">
            <div class="metric-box">
              <div class="metric-heading">
                <h5>Monthly Unique Page Views</h5>
              </div>
              <div style='max-height:300px'>
                <% unique_views = @month_unique_views.group_by_day(:created_at, format: "%B %d, %Y").count %>
                <%= area_chart unique_views, min: 0, max: unique_views.max[1] + 10  %>
                <canvas id="myChart"></canvas>
              </div>
            </div>
            <!-- <p class='dashboard-headers'><strong>Sales</strong><p>
            <p>$<%= @sales_7_days %>.00 </p>
          </div> -->
        </div>
      </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Week Orders</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <div class="row">
              <div class="col l3 m3 s12 center">
                <p class='dashboard-headers'><strong>Total Orders</strong></p>
                <p><%= @weeks_orders %> </p>
              </div>
              <div class="col l3 m3 s12 center">
                <p class='dashboard-headers'><strong>Products Sold</strong></p>
                <p><%= @orders_7_days %> </p>
              </div>
              <div class="col l3 m3 s12 center">
                <p class='dashboard-headers'><strong>Top Product</strong></p>
                <% if @top_selling_week_product != nil %>
                  <p> <%= @top_selling_week_product[0] %> : <%= @top_selling_week_product[1] %> sales</p>
                <% else %>
                  <p> No items sold this week! </p>
                <% end %>
              </div>
              <div class="col l3 m3 s12 center">
                <p class='dashboard-headers'><strong>Top Affiliate</strong></p>
                <% if @top_selling_affiliate != nil %>
                  <p><%= @top_selling_affiliate[0] %>: $<%= @top_selling_affiliate[1] %></p>
                <% else %>
                  <p> No sales this week! </p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center">
                <p class='account-header'>Top Selling Products</p>
              </div>
            </div>
            <% @top_selling_products.each do |product| %>
            <div class="row">
              <div class="col l3 m6 s12 center">
                <%= link_to product_path(product.id) do %>
                  <%= image_tag product.image.url(:thumb), :style => "width: 100px" %>
                <% end %>
                <p> <%= product.title %>: <%= product.total_orders %> orders </p>
              </div>
            <% end %>
            </div>
            <!-- <#%= link_to 'Download CSV list', admins_path(format: :csv) %> -->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
