

    <%= render partial: 'nav' %>

    <script>
      $(document).ready(function () {
        $('.browser-default').on('change', function(e) {
          e.preventDefault();
          $.ajax({
            url: '/admin-affiliate-order',
            data: {affiliate_id: $('.browser-default')[0].value},
            type: "POST",
            datatype: 'json',
          }).done(function(data){
            var allOrders = data.all;
            console.log(allOrders)
            console.log(allOrders.length)
            for(i = 0; i < allOrders.length; i++){
              var order = allOrders[i];
              var newLi = $('<li>');
              $('#affiliate-specific-orders').append(newLi);
              var collapsibleDiv = $('<div class = "collapsible-body">');
              newLi.append(collapsibleDiv);
              var orderInfo = $('<p>').text('Order Quantity: ' + order.quantity);
              newLi.append(orderInfo);
              console.log(orderInfo)
            }
          })
        });
      });
    </script>

    <!-- <li>
      <div class="collapsible-header">
        <i class="material-icons">done</i>Order#: 123456789
      </div>
      <div class="collapsible-body">
        <p>
          Status: <span class='order-status-pending'>Pending</span><br>
          SubTotal: $200
        </p>
        <div class="row order-info">
          <div class="col l1 m1 s4">
            <img style='width:100px' src="http://www.vphosted.com/sf/_langid-1/_hc-00001988/_/vp/images/b09/product/230x150/labels/circle-labels-sm-001.jpg" alt="">
          </div>
          <div class="col l2 m2 s3">
            <p>Product Name</p>
          </div>
          <div class="col l2 s9 hide-on-med-and-down">
            <p>Affiliate</p>
          </div>
          <div class="col l2 m2 s3">
            <p>Quantity: 1</p>
          </div>
          <div class="col l3 s9 hide-on-med-and-down">
            <p>Item Total  : $100</p>
          </div>
        </div>
      </div>
    </li> -->

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Orders for <%= (past_7_days).strftime('%b %d, %Y') %> to <%= Time.now.strftime('%b %d, %Y') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col l3 m3 s6"><a class='dashboard-tabs' href="#test1">All</a></li>
              <li class="tab col l3 m3 s6"><a class='dashboard-tabs' href="#pending">Pending</a></li>
              <li class="tab col l3 m3 s6"><a class='dashboard-tabs' href="#shipped">Shipped</a></li>
              <li class="tab col l3 m3 s6"><a class='dashboard-tabs' href="#test4">Delivered</a></li>
            </ul>
          </div>
          <div id="test1" class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
              <% @weeks_orders.each do |order| %>
              <% order_total = 0 %>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">done</i> Order #<%= order.id %>
              </div>
              <% order.order_items.each do |item| %>
              <div class="collapsible-body">
                <p>
                  Status: <%if item.status === 0 %> <span class='order-status-pending'>Pending</span> <% elsif item.status === 1 %> <span class='order-status-shipped'>Shipped</span><br>
                  Tracking Info: <%= item.shipping_method %>: <%= item.shipping_number %>
                  <% end %>
                </p>
                <div class="row order-info">
                  <div class="col l1 m1 s4">
                    <%= image_tag item.product_item.product.image.url(:thumb), :style => "width:100px" %>
                  </div>
                  <div class="col l2 m2 s3">
                    <p> Product: <%= item.product_item.description %> <%= item.product_item.product.title %> </p>
                  </div>
                  <div class="col l2 s9 hide-on-med-and-down">
                    <p> Affiliate: <%= item.product_item.product.user.name || item.product_item.product.user.email %></p>
                  </div>
                  <div class="col l2 m2 s3">
                    <p>Quantity: <%= item.quantity %></p>
                  </div>
                  <div class="col l3 s9 hide-on-med-and-down">
                    <p>Item Total: $<%= item.quantity * item.product_item.product.price.to_i %> </p>
                    <% order_total += item.quantity * item.product_item.product.price.to_i %>
                  </div>
                </div>
              </div>
              <% end %>
              SubTotal: <strong>$<%= order_total %></strong>
            </li>
            <% end %>
          </ul>
          </div>
          <div id="pending" class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
              <% @weeks_pending_orders.each do |item| %>
              <% order_total = 0 %>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">done</i> Order #<%= item.id %>
                </div>
                <div class="collapsible-body">
                  <p>
                    Status: <%if item.status === 0 %> <span class='order-status-pending'>Pending</span> <% elsif item.status === 1 %> <span class='order-status-shipped'>Shipped</span><br>
                    Tracking Info: <%= item.shipping_method %>: <%= item.shipping_number %>
                    <% end %>
                  </p>
                  <div class="row order-info">
                    <div class="col l1 m1 s4">
                      <%= image_tag item.product_item.product.image.url(:thumb), :style => "width:100px" %>
                    </div>
                    <div class="col l2 m2 s3">
                      <p> Product: <%= item.product_item.description %> <%= item.product_item.product.title %> </p>
                    </div>
                    <div class="col l2 s9 hide-on-med-and-down">
                      <p> Affiliate: <%= item.product_item.product.user.name || item.product_item.product.user.email %></p>
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Quantity: <%= item.quantity %></p>
                    </div>
                    <div class="col l3 s9 hide-on-med-and-down">
                      <p>Item Total: $<%= item.quantity * item.product_item.product.price.to_i %> </p>
                      <% order_total += item.quantity * item.product_item.product.price.to_i %>
                    </div>
                  </div>
                </div>
                <!-- SubTotal: <strong>$<#%= order_total %></strong> -->
              </li>
            <% end %>
          </ul>
          </div>
          <div id="shipped" class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
              <% @weeks_delivered_orders.each do |item| %>
              <% order_total = 0 %>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">done</i> Order #<%= item.id %>
                </div>
                <div class="collapsible-body">
                  <p>
                    Status: <%if item.status === 0 %> <span class='order-status-pending'>Pending</span> <% elsif item.status === 1 %> <span class='order-status-shipped'>Shipped</span><br>
                    Tracking Info: <%= item.shipping_method %>: <%= item.shipping_number %>
                    <% end %>
                  </p>
                  <div class="row order-info">
                    <div class="col l1 m1 s4">
                      <%= image_tag item.product_item.product.image.url(:thumb), :style => "width:100px" %>
                    </div>
                    <div class="col l2 m2 s3">
                      <p> Product: <%= item.product_item.description %> <%= item.product_item.product.title %> </p>
                    </div>
                    <div class="col l2 s9 hide-on-med-and-down">
                      <p> Affiliate: <%= item.product_item.product.user.name || item.product_item.product.user.email %></p>
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Quantity: <%= item.quantity %></p>
                    </div>
                    <div class="col l3 s9 hide-on-med-and-down">
                      <p>Item Total: $<%= item.quantity * item.product_item.product.price.to_i %> </p>
                      <% order_total += item.quantity * item.product_item.product.price.to_i %>
                    </div>
                  </div>
                </div>
                <!-- SubTotal: <strong>$<#%= order_total %></strong> -->
              </li>
            <% end %>
          </ul>
          </div>

        </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Orders By Affiliate</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <label>Affiliate Selelct</label>
            <!-- <select class="browser-default"> -->
              <!-- <option value="" disabled selected>Choose your option</option> -->
              <!-- <$%= @affiliates.each do |affiliate| %> -->
                <%= select_tag "affiliates", options_from_collection_for_select(@affiliates, "id", "email"), prompt: "Select Affiliate", :class => 'browser-default' %>
              </form>
              <!-- <option value=affiliate.id> <#%= affiliate.name || affiliate.email %> </option> -->
              <!-- <#% end %> -->
            </select>
            <ul class="collapsible" data-collapsible="accordion" id = "affiliate-specific-orders">

              <!-- <li>
                <div class="collapsible-header">
                  <i class="material-icons">done</i>Order#: 123456789
                </div>
                <div class="collapsible-body">
                  <p>
                    Status: <span class='order-status-shipped'>Shipped</span><br>
                    SubTotal: $200
                  </p>
                  <div class="row order-info">
                    <div class="col l1 m1 s4">
                      <img style='width:100px' src="http://www.vphosted.com/sf/_langid-1/_hc-00001988/_/vp/images/b09/product/230x150/labels/circle-labels-sm-001.jpg" alt="">
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Product Name</p>
                    </div>
                    <div class="col l2 s9 hide-on-med-and-down">
                      <p>Affiliate</p>
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Quantity: 1</p>
                    </div>
                    <div class="col l3 s9 hide-on-med-and-down">
                      <p>Item Total  : $100</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">done</i>Order#: 123456789
                </div>
                <div class="collapsible-body">
                  <p>
                    Status: <span class='order-status-delivered'>Delivered</span><br>
                    SubTotal: $200
                  </p>
                  <div class="row order-info">
                    <div class="col l1 m1 s4">
                      <img style='width:100px' src="http://www.vphosted.com/sf/_langid-1/_hc-00001988/_/vp/images/b09/product/230x150/labels/circle-labels-sm-001.jpg" alt="">
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Product Name</p>
                    </div>
                    <div class="col l2 s9 hide-on-med-and-down">
                      <p>Affiliate</p>
                    </div>
                    <div class="col l2 m2 s3">
                      <p>Quantity: 1</p>
                    </div>
                    <div class="col l3 s9 hide-on-med-and-down">
                      <p>Item Total  : $100</p>
                    </div>
                  </div>
                </div> -->
              <!-- </li> -->

            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
