

    <%= render partial: 'nav' %>

    <main>
      <div class="container" id='main-content'>
        <div class="row">
          <div class="col s12 left">
            <h3>Orders</h3>
          </div>
        </div>

        <!-- Order Page -->
      <div class="row">
        <div class="col l6 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-star" aria-hidden="true"></i>Total Month Orders</strong><p>
            </div>
            <div class="metric-body">
              <h4><%= @month_orders %></h4>
            </div>
          </div>
        </div>
        <div class="col l6 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-trophy" aria-hidden="true"></i>Total Month Sales</strong><p>
            </div>
            <div class="metric-body">
              <h4>$<%= @month_sales %></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l6 s12 center">
          <div class="metric-box">
            <div class="metric-heading">
              <h5>Month Orders</h5>
            </div>
            <div style='max-height:300px'>
              <% total_orders = Order.all.group_by_day(:created_at, format: '%B %d, %Y', range: 30.days.ago..Time.now).count %>
              <%= area_chart total_orders, min: 0, max: total_orders.max[1] + 10 %>
              <!-- <#%= area_chart @month_orders_data.group_by_day(:created_at, format: "%B %d, %Y").count %> -->
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col l6 s12 center">
          <div class="metric-box">
            <div class="metric-heading">
              <h5>Month Sales</h5>
            </div>
            <div style='max-height:300px'>
<!-- <<<<<<< HEAD
              <%= area_chart @month_sales.group_by_day(@month_sales.each{|key, value|} key, range: 30.days.ago..Time.now).count %>
=======
              <%= area_chart @month_sales.group_by_day(@month_sales.each{|key, value|}).count %>
>>>>>>> 897d1c54d700fba1cccf9955dfb1a27e7a0ddfae -->
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col l4 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-fighter-jet" aria-hidden="true"></i>Quick Download</strong><p>
            </div>
            <div class="metric-body">
              <div class="cms-button">
                <p>Download</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col l4 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-calendar" aria-hidden="true"></i>Download by Month</strong><p>
            </div>
            <div class="metric-body">
              <div class="row">
                <div class="col s6" style='padding-right: 0px;'>
                  <input class='date-picker' type="month">
                </div>
                <div class="col s6" style='padding-left: 0px;'>
                  <div class="cms-button">
                  <p>Download</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col l4 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-search" aria-hidden="true"></i>Search</strong><p>
            </div>
            <div class="metric-body">
              <div class="row">
                <div class="col s6" style='padding-right: 0px;'>
                  <input class='date-picker browser-default' type="number" style='margin-bottom: 0px;'>
                </div>
                <div class="col s6" style='padding-left: 0px;'>
                  <div class="cms-button">
                  <p>Download</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <%= form_tag admin_orders_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Search by Order Number" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
      <% if @order_search != nil %>
        <% @order_search.each do |order| %>
          <%= link_to "#{order.id}", order_path(order.id) %>
        <% end %>
      <% end %> -->

    </main>
  </body>
</html>
