

    <%= render partial: 'nav' %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <p class='account-header' style='text-align:center'>Add a Product</p>
            <%= form_for Product.new, html: { multipart: true } do |f| %>
              <%= f.hidden_field :total_orders, :value => 0 %>
              <%= f.text_field :title, :placeholder => "Product Title", :required => true %>
              <%= f.text_field :description, :placeholder => "Product Description", :required => true %>
              <%= f.label "Main Image" %>
              <%= f.file_field :image, :required => true %> </br>
              <%= f.label "Image Two" %>
              <%= f.file_field :image_two %> </br>
              <%= f.label "Image Three" %>
              <%= f.file_field :image_three %> </br>
              <%= f.label "Image Four" %>
              <%= f.file_field :image_four %> </br>
              <%= f.label "Image Five" %>
              <%= f.file_field :image_five %> </br>
              <%= f.select :category, :required => true do %>
                <% ['Apparel', 'Essentials', 'Accessories', 'Art_Culture', 'Tech', 'Gadgets'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %>
              <%= f.number_field :price, :placeholder => "Product Price", :required => true, :min => 0 %>
              <%= f.select :user_id, :required => true do %>
                <% @affiliates.each do |a| %>
                  <%= content_tag(:option, a.email, value: a.id,) %>
                <% end %>
              <% end %>
              <%= f.number_field :priority, :placeholder => "Priority 1-5 product will be listed in, 5 coming first", :required => true, :min => 0, :max => 5 %>
              <%= f.hidden_field :status, :value => 1 %>
              <%= f.hidden_field :total_orders, :value => 0 %>
              <%= f.text_field :feature_one, :placeholder => "Feature One" %>
              <%= f.text_field :feature_two, :placeholder => "Feature Two" %>
              <%= f.text_field :feature_three, :placeholder => "Feature Three" %>
              <%= f.text_field :feature_four, :placeholder => "Feature Four" %>
              <%= f.text_field :feature_five, :placeholder => "Feature Five" %>
              <%= f.submit "Create Product" %>
            <% end %>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  $('#new_product').submit(function(){
    console.log('submitted.....')
    $('#new_product').replaceWith(
      '<iframe src="//giphy.com/embed/hsR3qsqZXwS6A" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>'
    )
  })
</script>
