

    <%= render partial: 'nav' %>
    <main>
      <div class="container" id='main-content'>
        <div class="row">
          <div class="col s12 left">
            <h3>Products</h3>
          </div>
        </div>
        <% if flash[:error] %>
          <div class="error-div">
            <% flash[:error].each do |error| %>
              <h5 class = "error-text"> <%= error %></h5>
            <% end %>
          </div>
        <% end %>
        <div class="row">
        <div class="col l6 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-shopping-cart" aria-hidden="true"></i>Total Products</strong><p>
            </div>
            <div class="metric-body">
              <h4><%= @total_products %></h4>
            </div>
          </div>
        </div>
        <div class="col l6 s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-calendar-plus-o" aria-hidden="true"></i>New This Month</strong><p>
            </div>
            <div class="metric-body">
              <h4><%= @total_month %></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="metric-box">
            <div class="metric-heading">
              <p><i id='fa-metric' class="fa fa-shopping-cart" aria-hidden="true"></i>Total Products</strong><a class='action-icons' href=""><span class='right'><i style='padding-right: 5px;' class="fa fa-plus" aria-hidden="true"></i>Add Product</span></a><p>
            </div>
            <div class="metric-body">
              <table class='cms-table'>
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th class='right'>Action</th>
                  </tr>

                  <% @all_products.each do |product| %>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.title %></td>
                      <td><%= product.category %></td>
                      <td><%= product.price %></td>
                      <td class='right'><a class='action-icons' href=""><i class="fa fa-eye" aria-hidden="true"></i></a><a class='action-icons' href=""></i></a></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td>1</td>
                    <td>Product 1</td>
                    <td>Accessories</td>
                    <td>Affiliate 1</td>
                    <td>10</td>
                    <td class='right'><a class='action-icons' href=""><i class="fa fa-eye" aria-hidden="true"></i></a><a class='action-icons' href=""><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Product 1</td>
                    <td>Accessories</td>
                    <td>Affiliate 1</td>
                    <td>10</td>
                    <td class='right'><a class='action-icons' href=""><i class="fa fa-eye" aria-hidden="true"></i></a><a class='action-icons' href=""><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Product 1</td>
                    <td>Accessories</td>
                    <td>Affiliate 1</td>
                    <td>10</td>
                    <td class='right'><a class='action-icons' href=""><i class="fa fa-eye" aria-hidden="true"></i></a><a class='action-icons' href=""><i class="fa fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <!--<div class="row">
          <div class="col s12">
            <p class='account-header' style='text-align:center'>Add a Product</p>
            <%= form_for Product.new, html: { multipart: true } do |f| %>
              <%= f.hidden_field :total_orders, :value => 0 %>
              <%= f.text_field :title, :placeholder => "Product Title", :required => true %>
              <%= f.text_field :description, :placeholder => "Product Description", :required => true %>
              <%= f.label "Main Image" %>
              <%= f.file_field :image, :required => true %> </br>
              <%= f.label "Image Two" %>
              <%= f.file_field :image_two %> </br>
              <%= f.label "Image Three" %>
              <%= f.file_field :image_three %> </br>
              <%= f.label "Image Four" %>
              <%= f.file_field :image_four %> </br>
              <%= f.label "Image Five" %>
              <%= f.file_field :image_five %> </br>
              <%= f.text_field :embedded_video, :placeholder => "Youtube URL" %>
              <%= f.label "Video Placement" %>
              <%= f.select :video_status do %>
                <% ['', 'Main Image', 'Sub-Image'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %>
              <%= f.select :category, :required => true do %>
                <% ['Apparel', 'Essentials', 'Accessories', 'Art_Culture', 'Tech', 'Gadgets'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %>
              <%= f.number_field :price, :placeholder => "Product Price", :required => true, :min => 0 %>
              <%= f.select :user_id, :required => true do %>
                <% @affiliates.each do |a| %>
                  <%= content_tag(:option, a.email, value: a.id,) %>
                <% end %>
              <% end %>
              <%= f.number_field :priority, :placeholder => "Priority 1-5 product will be listed in, 5 coming first", :required => true, :min => 0, :max => 5 %>
              <%= f.hidden_field :status, :value => 1 %>
              <%= f.hidden_field :total_orders, :value => 0 %>
              <%= f.text_field :feature_one, :placeholder => "Feature One" %>
              <%= f.text_field :feature_two, :placeholder => "Feature Two" %>
              <%= f.text_field :feature_three, :placeholder => "Feature Three" %>
              <%= f.text_field :feature_four, :placeholder => "Feature Four" %>
              <%= f.text_field :feature_five, :placeholder => "Feature Five" %>
              <%= f.label "Featured Product?" %>
              <%= f.select :featured do %>
                <%= ['Featured', 'Not-Featured'].each do |a| %>
                  <%= content_tag(:option, a, value: a,) %>
                <% end %>
              <% end %> 
              <%= f.submit "Create Product" %>
            <% end %> 

          </div>
        </div>-->

      </div>
    </main>
  </body>
</html>

<script>
  $('#new_product').submit(function(){
    console.log('submitted.....')
    $('#new_product').replaceWith(
      '<iframe src="//giphy.com/embed/hsR3qsqZXwS6A" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>'
    )
  })
</script>
