<footer class="page-footer white" style='padding-left: 0px;border: 1px solid rgba(51,51,51,0.08);'>
  <div class="container" style='width:95%'>
    <div class="row">
      <div class="col l4 s12 left hide-on-med-and-down">
        <h5 class="black-text">Logo</h5>
        <p class="black-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum rhoncus tellus sed pellentesque.</p>
      </div>
      <div class="col l2 s4 left"> 
        <ul>
          <li><%= link_to "About", about_path, :class => 'black-text'%></li>
          <li><%= link_to "Terms", terms_path, :class => 'black-text'%></li>
          <li><%= link_to "FAQ", faq_path, :class => 'black-text'%></li>
          <li><%= link_to "Shipping", about_shipping_path, :class => 'black-text'%></li>
        </ul>
      </div>
      <div class="col l2 s4 left"> 
        <ul>
          <li><%= link_to "Returns", returns_path, :class => 'black-text'%></li>
          <li><%= link_to "Affiliates", about_affiliates_path, :class => 'black-text'%></li>
          <li><%= link_to "Contact", contact_path, :class => 'black-text'%></li>
        </ul>
      </div>
      <div class="col l4 s4 left">
        <h5>Follow Us</h5> 
        <a id='footer-icons' href=""><i class="fa fa-instagram fa-lg"></i></a>
        <a id='footer-icons' href=""><i class="fa fa-facebook fa-lg"></i></a>
        <a id='footer-icons' href=""><i class="fa fa-twitter fa-lg"></i></a>
        <a id='footer-icons' href=""><i class="fa fa-google-plus fa-lg"></i></a>
        <a id='footer-icons' href=""><i class="fa fa-pinterest fa-lg"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
    ©Logo
    <a class="black-text right" href="#!">Powered by Monsterful Labs</a>
    </div>
  </div>
</footer>

<!-- <footer class="page-footer white" stlye='min-hieght:190px'>
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-instagram fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-facebook fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-twitter fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-google-plus fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-pinterest fa-lg"></i></a>
      </div>
    </div>
    <% if current_user != nil %>
      <div class="row">
        <div class="col s12 center">
          <%= link_to "About", about_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "Terms", terms_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "FAQ", faq_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "Shipping", about_shipping_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "Returns", returns_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "Affiliates", about_affiliates_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
          <%= link_to "Contact", contact_path, :class => 'grey-text darken-4', :id => 'footer-links' %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="footer-copyright white">
      <div class="container center">
        <span class='grey-text darken-4' id='footer-copyright'>©2016 DealBaked, DealBaked inc.</span>
      </div>
    </div>
  </footer> -->
