<%= render partial: 'partials/header' %>

<% if flash[:success] %>
  <div class="success-div">
    <h6 class = "success-text"> <%= flash[:success] %></h6>
  </div>
  <% end %>

<% if flash[:error] %>
<div class="error-div">
  <% flash[:error].each do |error| %>
      <h6 class = "error-text"> <%= error %> </h6>
  <% end %>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="col l4 m5 s12 left" id='account-page-links'>
        <div class='account-change-section'>
          <a class='account-change-link' href="/profile">My Account</a>
        </div>
        <div class='account-change-section' id='account-link-active'>
          <!-- <#% if current_user.password_digest.exists? %> -->
            <%= link_to "Account Information", account_path, :class => "account-change-link", method: :get %>
          <!-- <#% end %> -->
        </div>
        <div class='account-change-section'>
          <a class='account-change-link' href="/password">Change Password</a>
        </div>
        <div class='account-change-section'>
          <a class='account-change-link' href="/profile/addresses">Shipping Addresses</a>
        </div>
      </div>
      <div class="col l8 m7 s12 center" style='height:400px'>
        <div class="account-content">
          <p class='account-header'>Edit Account Information</p>
          <div id="change-info">
          <%= form_for current_user, {:url => user_update_account_path(current_user.id), :method => 'put'} do |f| %>
            <p> Email <%= f.email_field :email, :value => current_user.email %> </p>
            <p> Name <%= f.text_field :name, :value => current_user.name %> </p>
            <%=f.submit "Submit", class: "btn waves-effect grey darken-3 center" %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= render partial: 'partials/footer' %>

<script>
  $('#toggle-password').click(function(){
    $('#change-info').toggle();
    $('#change-password').toggle();
    $('#toggle-info').toggle();
    $('#toggle-password').toggle();
  })

  $('#toggle-info').click(function(){
    $('#change-info').toggle();
    $('#change-password').toggle();
    $('#toggle-info').toggle();
    $('#toggle-password').toggle();
  })
</script>
