<%= render partial: 'partials/header' %>

<div class="container">
  <div class="row">
    <div class="col s12 center">
      <div class="account-content">
        <p class='account-header'>Manage Your Shipping Addresses</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <% if current_user.addresses.length > 0 %>
          <% current_user.addresses.each do |address| %>
          <div class="row">
            <div class="col l3 m3 s6 offset-l3 offset-m3">
              <p class='account-address-name'><strong><%= current_user.name %></strong></p>
              <p class='acount-address-info'><%= address.name %></p>
              <p class='acount-address-info'><%= address.address %></p>
              <p class='acount-address-info'><%= address.city %>, <%= address.state %> <%= address.zip %></p>
              <p class='acount-address-info'><%= address.country %></p>
            </div>
            <div class="col s6">
              <% if address.active === 'yes' %>
                <p> [ Default ] </p>
                <%= link_to "Remove", address_path(address.id),:class => "red waves-light btn", method: :delete %>
              <% end %>
              <% if address.active === 'no' %>
                <%= form_for address do |f| %>
                  <%= f.hidden_field :active, :value => 'yes' %>
                  <%= f.submit "Make Primary Address", :class => 'white black-text waves-light btn make-primary'%>
                <% end %>
              <% end %>
            </div>
          </div>
         <% end %>
        <% end %>  
      </div>     
    </div>
    <div class="col s12 center">
      <div class="account-content">
        <p class='shipping-header'>Add Shipping Address</p>
      </div>
    </div>
    <div class="col l8 offset-l2 s12 center">
      <%= form_for Address.new do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.text_field :name, :placeholder => "Shipping Name", :required => true %>
        <%= f.text_field :address, :placeholder => "Address", :required => true %>
        <%= f.text_field :state, :placeholder => "State", :required => true %>
        <%= f.text_field :city, :placeholder => "City", :required => true %>
        <%= f.number_field :zip, :placeholder => "Zip Code", :required => true %>
        <%= f.text_field :country, :placeholder => "Country", :required => true %>
        <%= f.hidden_field :active, :value => 'no' %>
        <%= f.submit "Create Shipping Address", :class => 'grey white-text waves-light btn make-primary'%>
      <% end %>

    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>