<%= render partial: 'partials/header' %>

<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>

<div class="container">

  <% if flash[:error] %>
    <div class="error-div">
      <h5 class = "error-text"> <%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success-div">
      <h5 class = "success-text"> <%= flash[:success] %></h5>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="col l4 m5 s12 left" id='account-page-links'>
        <div class='account-change-section'>
          <a class='account-change-link' href="/profile">My Account</a>
        </div>
        <div class='account-change-section'>
          <!-- <#% if current_user.password_digest.exists? %> -->
            <%= link_to "Account Information", account_path, :class => "account-change-link", method: :get %>
          <!-- <#% end %> -->
        </div>
        <div class='account-change-section'>
          <a class='account-change-link' href="/password">Change Password</a>
        </div>
        <div class='account-change-section' id='account-link-active'>
          <a class='account-change-link' href="/profile/addresses">Shipping Addresses</a>
        </div>
      </div>
      <div class="col l8 m7 s12">
        <div class="row">
          <div class="col s12 center">
            <div class="account-content">
              <p class='account-header'>Manage Your Shipping Addresses</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <% if current_user.addresses.length > 0 %>
                <% current_user.addresses.each do |address| %>
                <div class="row">
                  <div class="col l10 m8 s6" style='padding-left: 50px'>
                    <!-- <p class='account-address-name'><strong><#%= current_user.name %></strong></p> -->
                    <p class='acount-address-info'><strong> <%= address.name %> </strong></p>
                    <p class='acount-address-info'><%= address.address %></p>
                    <p class='acount-address-info'><%= address.city %>, <%= address.state %> <%= address.zip %></p>
                    <p class='acount-address-info'><%= address.country %></p>
                  </div>
                  <div class="col l2 m4 s6 right-align">
                    <% if address.active === 'yes' %>
                      <i class="small green-text material-icons">done</i>
                    <% end %>
                    <% if address.active === 'no' %>
                    <%= button_to "x", address_path(address.id),:class => "remove-item", method: :delete %>
                      <div class="hide-on-med-and-down">
                        <%= form_for address do |f| %>
                          <%= f.hidden_field :active, :value => 'yes' %>
                          <%= f.submit "Make Default", :class => 'select-address'%>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
               <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <a class="btn waves-effect grey darken-3 modal-trigger center" href="#modal1">Add Address</a>
            </div>
          </div>

          <!-- Begin Modal -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4 style='text-align: center;'>Add Shipping Address</h4>
              <%= form_for Address.new do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.text_field :name, :placeholder => "Shipping Name", :required => true %>
                <%= f.text_field :country, :placeholder => "Country", :required => true %>
                <%= f.text_field :address, :placeholder => "Address", :required => true %>
                <%= f.text_field :city, :placeholder => "City", :required => true %>
                <%= f.select :state do %>
                  <% [
                    'Alabama',
                    'Alaska',
                    'Arizona',
                    'Arkansas',
                    'California',
                    'Colorado',
                    'Connecticut',
                    'Delaware',
                    'Florida',
                    'Georgia',
                    'Hawaii',
                    'Idaho',
                    'Illinois',
                    'Indiana',
                    'Iowa',
                    'Kansas',
                    'Kentucky',
                    'Louisiana',
                    'Maine',
                    'Maryland',
                    'Massachusetts',
                    'Michigan',
                    'Minnesota',
                    'Mississippi',
                    'Missouri',
                    'Montana',
                    'Nebraska',
                    'Nevada',
                    'New Hampshire',
                    'New Jersey',
                    'New Mexico',
                    'New York',
                    'North Carolina',
                    'North Dakota',
                    'Ohio',
                    'Oklahoma',
                    'Oregon',
                    'Pennsylvania',
                    'Rhode Island',
                    'South Carolina',
                    'South Dakota',
                    'Tennessee',
                    'Texas',
                    'Utah',
                    'Vermont',
                    'Virginia',
                    'Washington',
                    'West Virginia',
                    'Wisconsin',
                    'Wyoming'
                  ].each do |a| %>
                    <%= content_tag(:option, a, value: a,) %>
                  <% end %>
                <% end %>
                <%= f.number_field :zip, :placeholder => "Zip Code", :input_html => {:maxlength => 5, :size => 5}, :required => true %>
                <%= f.hidden_field :active, :value => 'no' %>
                <%= f.submit "Create Shipping Address", :class => 'btn waves-effect grey darken-3 center' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>
