<h2> Hello <%= current_user.email %>!</h2>

<h1>Sales to be shipped: </h1>
<% current_user.products.each do |product| %>
<div id = "affiliate-order-div">
  <h3> <%= product.title %> <%= product.id %></h3>
  <% product.product_items.each do |item| %>
    <h4> <%= item.description %> </h4>
    <% item.order_items.each do |order| %>
      <h1> <%= order.status %> </h1>
      <% end %>
    <% end%>
  <!-- <h4> <#%= product.product_item.quantity %> </h4> -->
  <!-- <#% product.product_item.each do |product_item| %> -->
  <!-- <#% product_item.order_items.each do |order_item| %> -->
  <!-- <#% if order_item.status === 0 %> -->
    <!-- <#%= image_tag order_item.product.picture %> -->
    <!-- <h5> <#%= order_item.product.title %> </h5> -->
    <!-- <h5> $<#%= order_item.product.price %>.00 </h5> -->
    <!-- <p> <#%= order_item.product.description %> </p> -->
    <!-- <#%= form_for order_item do |f| %> -->
      <!-- <#%= f.hidden_field :status, :value => 1 %> -->
      <!-- <#%= f.text_field :shipping_number, :placeholder => 'Shipping Number', :required => true %> -->
      <!-- <#%= f.submit "Shipped Order" %> -->
    <!-- <#% end %> -->
    </div>
    <!-- <#% end %> -->
  <!-- <#% end %> -->
<!-- <#% end %> -->
<% end %>

<!-- <h1> Past Sales: </h1> -->
<!-- <#% current_user.products.each do |product| %> -->
  <!-- <h3> <#%= product.title %> </h3> -->
  <!-- <#% product.order_items.each do |order_item| %> -->
  <!-- <#% if order_item.status === 1 %> -->
    <!-- <div id = "affiliate-order-div"> -->
    <!-- <#%= image_tag order_item.product.picture %> -->
    <!-- <h5> <#%= order_item.product.title %> </h5> -->
    <!-- <h5> $<#%= order_item.product.price %>.00 </h5> -->
    <!-- <p> <#%= order_item.product.description %> </p> -->
    <!-- </div> -->
    <!-- <#% end %> -->
  <!-- <#% end %> -->
<!-- <#% end %> -->


<h3>Affiliate <%= current_user.email %> Products: </h3>

<% current_user.products.each do |product| %>
<div class="col l4 m12 s12" style="display:inline-block">
  <div class="card" style = "width: 400px">
      <div class="card-image">
        <%= image_tag product.picture, :style => 'height:400px; width:400px' %>
        <div class="card-title" id = "card-category-title">
          <div style="font-size: 18px; font-weighy: bold; color:white">
            <%= product.title %>
          </div>
          <div style="font-size:16px">
            $<%= product.price %>.00
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
