<h2> Hello <%= current_user.email %>!</h2>

<!-- <h5>Today's date is <%= Time.now %></h5>
<h5> Yesterday was <%= Time.now - (60 * 60 * 24) %> </h5>
<h5> One week ago was <%= Time.now - (60 * 60 * (24*7)) %> </h5>
<h5> 30 days ago was <%= Time.now - (60 * 60 * (24*30)) %> </h5> -->

<h4> Sales last 24 hours: </h4>
<h6> $<%= @todays_sales %>.00 </h6>
<h4> Sales in the last week: </h4>
<h6> $<%= @weeks_sales %>.00 </h6>
<h4> Sales in the last month: </h4>
<h6> $<%= @months_sales %>.00 </h6>



<!-- @todays_orders = []
@weeks_orders = []
@months_orders = []
past_24_hours = Time.now.utc - (60 * 60 * 24)
past_7_days = Time.now.utc - (60 * 60 * (24*7))
past_30_days = Time.now.utc - (60 * 60 * (24*30))
if order.created_at >= past_24_hours
  @todays_orders.push(order)
  @weeks_orders.push(order)
  @months_orders.push(order)
elsif order.created_at >= past_7_days
  @weeks_orders.push(order)
  @months_orders.push(order)
elsif order.created_at >= past_30_days
  @months_orders.push(order)
end -->

<h4>Total Sales: </h4>
<h6> <%= @total_orders %> sales to date!</h6>
<h6> $<%= @total_sales %> of sales to date! </h6>

<h1>Sales to be shipped: </h1>
<% current_user.products.each do |product| %>
  <% product.product_items.each do |item| %>
    <% item.order_items.each do |order| %>
      <% if order.status === 0 %>
        <div id = "affiliate-order-div">
          <h6> Today: <%= Time.now.utc %> </h6>
          <h6> 24 Hours: <%= Time.now.utc - (60*60*24) %></h6>
          <h6> Ordered: <%= order.created_at %> </h6>
          <%= image_tag order.product_item.product.picture, :style => "width: 150px; height: 300px" %>
          <h3> <%= order.quantity %> <%= order.product_item.description %> of <%= order.product_item.product.title %> </h3>
          <h5> Send to: <%= order.order.user.email %> </h5>
          <%= form_for order do |f| %>
            <%= f.hidden_field :status, :value => 1 %>
            <%= f.text_field :shipping_number, :placeholder => "Shipping Number", :required => true %>
            <%= f.submit "Mark Order as Shipped"%>
          <% end %>
          </div>
      <% end %>
    <% end %>
  <% end%>
<% end %>

<h1>Shipped Sales: </h1>
<% current_user.products.each do |product| %>
  <% product.product_items.each do |item| %>
    <% item.order_items.each do |order| %>
      <% if order.status === 1 %>
        <div id = "affiliate-order-div">
          <%= image_tag order.product_item.product.picture, :style => "width: 150px; height: 300px" %>
          <h3> <%= order.quantity %> <%= order.product_item.description %> of <%= order.product_item.product.title %> </h3>
        </div>
      <% end %>
    <% end %>
  <% end%>
<% end %>

<h3>Affiliate <%= current_user.email %> Products: </h3>

<% current_user.products.each do |product| %>
<div class="col l4 m12 s12" style="display:inline-block">
  <div class="card" style = "width: 400px">
      <div class="card-image">
        <%= image_tag product.picture, :style => 'height:400px; width:400px' %>
        <div class="card-title" id = "card-category-title">
          <div style="font-size: 18px; font-weighy: bold; color:white">
            <%= product.title %>
          </div>
          <div style="font-size:16px">
            $<%= product.price %>.00
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
