<h2> Hello <%= current_user.email %>!</h2>


<h4> Sales last 24 hours: </h4>
<h6> $<%= @todays_sales %>.00 </h6>
<h4> Sales in the last week: </h4>
<h6> $<%= @weeks_sales %>.00 </h6>
<h4> Sales in the last month: </h4>
<h6> $<%= @months_sales %>.00 </h6>


<h4>Total Sales: </h4>
<h6> <%= @total_orders %> sales to date!</h6>
<h6> $<%= @total_sales %> of sales to date! </h6>

<h1>Sales to be shipped: </h1>
<% current_user.products.each do |product| %>
  <% product.product_items.each do |item| %>
    <% item.order_items.each do |order| %>
      <% if order.status === 0 %>
        <div id = "affiliate-order-div">
          <%= image_tag order.product_item.product.picture, :style => "width: 150px; height: 300px" %>
          <h3> <%= order.quantity %> <%= order.product_item.description %> of <%= order.product_item.product.title %> </h3>
            <h5> Send to: <%= order.order.address.name %> </h5>
            <h6> <%= order.order.address.address %> </h6>
            <h6><%= order.order.address.city %>, <%= order.order.address.state %> <%= order.order.address.zip %> </h6>
            <h6> <%= order.order.address.country %> </h6> </br>
          <%= form_for order do |f| %>
            <%= f.hidden_field :status, :value => 1 %>
            <%= f.label "Shipping Method" %>
            <%= f.select :shipping_method do %>
            <% ['UPS', 'USPS', 'FedEx'].each do |a| %>
              <%= content_tag(:option, a, value: a) %>
            <% end %>
          <% end %>
            <%= f.text_field :shipping_number, :placeholder => "Shipping Number", :required => true %>
            <%= f.submit "Mark Order as Shipped"%>
          <% end %>
          </div>
      <% end %>
    <% end %>
  <% end%>
<% end %>

<h1>Shipped Sales: </h1>
<% current_user.products.each do |product| %>
  <% product.product_items.each do |item| %>
    <% item.order_items.each do |order| %>
      <% if order.status === 1 %>
        <div id = "affiliate-order-div">
          <%= image_tag order.product_item.product.picture, :style => "width: 150px; height: 300px" %>
          <h3> <%= order.quantity %> <%= order.product_item.description %> of <%= order.product_item.product.title %> </h3>
        </div>
      <% end %>
    <% end %>
  <% end%>
<% end %>

<h3>Affiliate <%= current_user.email %> Products: </h3>

<% current_user.products.each do |product| %>
<div class="col l4 m12 s12" style="display:inline-block">
  <div class="card" style = "width: 400px">
      <div class="card-image">
        <%= image_tag product.picture, :style => 'height:400px; width:400px' %>
        <div class="card-title" id = "card-category-title">
          <div style="font-size: 18px; font-weighy: bold; color:white">
            <%= product.title %>
          </div>
          <div style="font-size:16px">
            $<%= product.price %>.00
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
