<%= render partial: 'partials/header' %>

<div class="content" id='main-content'>
  <div class="row">

  <% if flash[:error] %>
    <div class="error-div">
      <h5 class = "error-text"> <%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success-div">
      <h5 class = "success-text"> <%= flash[:success] %></h5>
    </div>
  <% end %>

    <div class='col s12 center'>
      <h4 class='account-header'>Shopping Cart</h4>
    </div>
  </div>
  <div class="row">
    <% if current_user.cart_items.length === 0 %>
      <div class="col s12 center">
        <p>Your shopping cart is empty! To view our offerings, hit the button below to view all the best deals around the web !</p>
        <a class='btn waves-effect grey darken-3' href="/products">Checkout the Store</a>
      </div>
    <% else %>
        <div class='col l8 s12 center'>
          <% current_user.cart_items.each do |cart| %>
          <div class="row" style='margin-top: 10px;'>
            <div class="col s4 cart-product-image">
              <div style='float:right;'>
                <%= image_tag cart.product_item.product.image.url(:thumb) %>
              </div>
            </div>
            <div class='col s7 cart-product-details'>
              <div class='left cart-product-info'>
                <p class='cart-product-title'><%= cart.product_item.description %> <%= cart.product_item.product.title %></p>
                <table class='cart-price-table'>
                  <tbody>
                    <tr>
                      <td class='cart-table-left'><strong>Price</strong>:</td>
                      <td class='cart-table-right'>$<%= cart.product_item.product.price.to_i * cart.quantity.to_i %>.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <%= form_for cart, :id => "update-cart-form" do |f| %>
                <p>Quantity: <%= f.select :quantity, (1..5), :id => 'cart-quantity-select', :selected => cart.quantity %></p>
              <% end %>
              <div class='left grey-text darken-4 cart-shipping-info'>
                <table class='cart-shipping-table'>
                  <tbody>
                    <tr>
                      <td class='cart-table-left' id='cart-shipping-headers'><strong>Availability</strong>:</td>
                      <td class='cart-table-right'></td>
                    </tr>
                    <tr>
                      <td class='cart-table-left' id='cart-shipping-headers'><strong>Ships In</strong>:</td>
                      <td class='cart-table-right'></td>
                    </tr>
                    <tr class='hide-on-med-and-down'>
                      <td class='cart-table-left' id='cart-shipping-headers'><strong>Shipping Policy</strong>:</td>
                      <td class='cart-table-right'></td>
                    </tr>
                    <tr class='hide-on-med-and-down'>
                      <td class='cart-table-left' id='cart-shipping-headers'><strong>Return Policy</strong>:</td>
                      <td class='cart-table-right'></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col s1">
              <%= button_to "X", cart_item_path(cart.id), method: :delete, :class => 'remove-item' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col l4 s12 order-summary">
        <div class="grey lighten-3 total-container">
          <div class="center">
            <p class='order-summary'>Order Summary</p>
          </div>
          <div class='grey-text darken-4 subtotals'>
            <p>Order Subtotal: <span class='right amount'>$<%= @amount %>.00</span></p>
          </div>
          <div class='grey-text darken-4 subtotals'>
            <p>Shipping: <span class='right amount'>Free</span></p>
          </div>
          <div class='subtotals'>
            <p>Total: <span class='right amount'>$<%= @amount %>.00</span></p>
          </div>
          <div class='right checkout-button'>
            <%= button_to "Checkout", shipping_path, :class => "btn red", method: :get %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'partials/footer' %>


<script>

  $('select').on('change', function(){
    $(this).closest('form').submit()
  })

  if($('.success-div')){
    setTimeout(function(){
      $('.success-div').fadeOut()
    }, 5000)
  }

  if($('.error-div')){
    setTimeout(function(){
      $('.error-div').fadeOut()
    }, 5000)
  }

</script>
