<h2><%= current_user.email %>'s Cart</h2>

<% current_user.cart_items.each do |cart| %>
<div class="col l4 m12 s12" style="display:inline-block">
  <div class="card" style = "width: 400px">
      <div class="card-image">
        <%= image_tag cart.product.picture, :style => 'height:400px; width:400px' %>
        <div class="card-title" id = "card-category-title">
          <div style="font-size: 18px; font-weighy: bold; color:white">
            <%= cart.product.title %>
          </div>
          <div style="font-size:16px">
            $<%= cart.product.price %>.00
          </div>
        </div>
      </div>
  </div>
</div>
<%= button_to "Remove From Cart", cart_item_path(cart.id), method: :delete %>
<% end %>

<!-- <#%= form_for @order do |f| %>
  <#%= f.text_field :user_id, :value => current_user.id %>
<#%= f.submit "Checkout", :class => "btn btn-primary" %>
<#% end %> -->

<%= button_to "Checkout", new_charge_path, :class => "btn btn-primary", method: :get %>
