<%= render partial: 'partials/header' %>

<div class="content" id='main-content'>
  <div class="row">

  <% if flash[:error] %>
    <div class="error-div">
      <h5 class = "error-text"> <%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success-div">
      <h5 class = "success-text"> <%= flash[:success] %></h5>
    </div>
  <% end %>

    <div class='col s12 center'>
      <h4>Shopping Cart</h4>
    </div>
  </div>
  <div class="row">
    <% if current_user.cart_items.length === 0 %>
      <div class="col s12">
        <p>Your shopping cart is empty! Start <a href="/products">shopping</a></p>
      </div>
    <% else %>
      <div class='col l8 s12 center'>
        <% current_user.cart_items.each do |cart| %>
          <div class="col s4 cart-product-image">
            <div>
              <%= image_tag cart.product_item.product.image.url(:thumb) %>
            </div>
          </div>
          <div class='col s8 cart-product-details'>
            <div class='left cart-product-info'>
              <p class='cart-product-title'><%= cart.product_item.product.title %></p>
              <p><strong>Price</strong>: <span>$<%= cart.product_item.product.price.to_i * cart.quantity.to_i %>.00</span></p>
            </div>
            <%= form_for cart, :id => "update-cart-form" do |f| %>
              <p>Quantity: <%= f.select :quantity, (1..10), :id => 'cart-quantity-select', :selected => cart.quantity %></p>
            <% end %>
            <%= button_to "Remove From Cart", cart_item_path(cart.id), method: :delete, :class => 'btn red' %>
            <div class='left grey-text darken-4 cart-shipping-info'>
              <p><strong>Shipping Availability</strong><span></span></p>
              <p><strong>Ships In</strong><span></span></p>
              <p class='hide-on-med-and-down'><strong>Shipping Policy</strong><span></span></p>
              <p class='hide-on-med-and-down'><strong>Return Policy</strong><span></span></p>
            </div>
          </div>

        <% end %>
      </div>

      <div class="col l4 s12">
        <div class="grey lighten-2 total-container">
          <div class="center">
            <p class='order-summary'>Order Summary</p>
          </div>
          <div class='grey-text darken-4 subtotals'>
            <p>Order Subtotal: <span class='right amount'>$<%= @amount %>.00</span></p>
            <p>Sales Tax:</p>
          </div>
          <div class='subtotals'>
            <p>Total:</p>
          </div>
          <div class='right checkout-button'>
            <%= button_to "Checkout", shipping_path, :class => "btn blue", method: :get %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'partials/footer' %>


<script>

  $('select').on('change', function(){
    $(this).closest('form').submit()
  })

  if($('.success-div')){
    setTimeout(function(){
      $('.success-div').fadeOut()
    }, 5000)
  }

  if($('.error-div')){
    setTimeout(function(){
      $('.error-div').fadeOut()
    }, 5000)
  }

</script>
