<h2><%= current_user.email %>'s Cart</h2>

<% @cart.each do |item| %>
  <h3> <%= item.title %> </h3>
  <h4> <%= item.description %> </h4>
  <h4> <%= item.price %> </h4>
  <!-- <#%= button_to "Remove From Cart", cart_item_path(@cart_item.id), method: :destroy, :class => 'btn btn-danger' %> -->
  <hr>
<% end %>

<% current_user.cart_items.each do |cart_item| %>
  <%= button_to "Remove #{cart_item.product_id} From Cart", cart_item_path(cart_item.id), method: :delete, :class => 'btn btn-danger' %>
<% end %>

<%= form_for @order do |f| %>
  <%= f.text_field :user_id, :value => current_user.id %>
  <%= f.text_field :affiliate_id, :placeholder => "Eventually Affiliate ID" %>
  <%= f.text_field :product_id, :placeholder => "Eventually Product ID" %>
  <%= f.number_field :status, :value => 0 %>
<%= f.submit "Checkout", :class => "btn btn-primary" %>
<% end %>
