    <div class="container" id='landing-container'>
      <div id="cover-photo">
        <div class="row">
          <div class="col s12">
            <div class="card white center" id='login-container'>
              <div class="card-content white-text">
                <span class="card-title" id='logo'>Deal Baked</span>
                <div class="row">
                  <div class="input-field col s12" id='login-content'>
                    <%= form_tag sessions_path, :class => 'login-form' do %>
                      <%= text_field_tag :email %>
                      <%= password_field_tag :password %> </br>
                      <%= submit_tag "Log In", :class => 'btn waves-effect grey darken-3', :style=> "width:300px" %> </br> </br>
                      <% end %>
                  </div>
                  <div class="input-field col s12 ToggleOff" id='signup-content'>
                    <%= form_for @user do |f| %>
                    <%= f.email_field :email, :class => 'login-inputs' %>
                    <%= f.password_field :password, :class => 'login-inputs' %>
                    <%= f.hidden_field :status, :value => 2 %>
                    <%= f.submit "Create User", :class => "btn waves-effect grey darken-3", :style=> "width:300px" %>
                    <% end %>
                  </div>
                  <p class='black-text'>OR</p>
                  <div class="input-field col s12">
                    <!-- <button class="btn waves-effect light-blue darken-4" type="submit" name="action" style='width:300px;'><i class="fa fa-facebook fa-1"></i>  LOGIN WITH FACEBOOK</button> -->
                    <%= link_to "LOGIN WITH FACEBOOK", "/auth/facebook", id: "sign_in", :class => 'btn light-blue darken-4', :style => 'width:300px;'%>
                  </div>
                  
              </div>
              <p style="color:red"> <%= flash[:error] %> </p>
              <div class="card-action">
                <p id='signup-button'class='black-text'>Not a member? <a id='sign-up-tag' href="">Sign Up!</a></p>
                <p id='login-button' class='black-text ToggleOff'>Already a member? <a id='sign-up-tag' class='login-button' href="">Log In!</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    function toggleSignUp(){
      $('.ToggleOff').removeClass('ToggleOff')
      $('#login-content').addClass('ToggleOff')
      $('#signup-button').addClass('ToggleOff')
    }
    
    function toggleLogIn(){
      $('.ToggleOff').removeClass('ToggleOff');
      $('#signup-content').addClass('ToggleOff')
      $('#login-button').addClass('ToggleOff')
    }

    $('#sign-up-tag').hover(function() {
      toggleSignUp()
    });
      
    $('.login-button').hover(function() {
      toggleLogIn()
    });
  });
</script>
<%= render partial: 'partials/footer' %>
