<%= render partial: 'partials/header' %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="col l4 m5 s6 left" id='account-page-links'>
        <div class='account-change-section' id='account-link-active'>
          <a class='account-change-link' href="/profile">My Account</a>
        </div>
        <div class='account-change-section'>
          <!-- <#% if current_user.password_digest.exists? %> -->
            <%= link_to "Account Information", account_path, :class => "account-change-link", method: :get %>
          <!-- <#% end %> -->
        </div>
        <div class='account-change-section'>
          <a class='account-change-link' href="/password">Change Password</a>
        </div>
        <div class='account-change-section'>
          <a class='account-change-link' href="/profile/addresses">Shipping Addresses</a>
        </div>
      </div>
      <div class="col l8 m7 s6 center">
       <div class="account-content">
        <p class='account-header'>My Account</p>
        <p class='account-name'><%= current_user.name.capitalize %></p>
        <p class='account-email'><%= current_user.email %></p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col s12">
        <p class='account-header center'>Order History</p>
        <% current_user.orders.order('created_at DESC').each do |order| %>
        <% order_total = 0 %>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <i class="material-icons">done</i><%= order.created_at.strftime("%b %d, %Y") %> Order:
            </div>
            <div class="collapsible-body">
              <% order.order_items.each do |item| %>
              <p>
                Status:
                <% if item.status === 0 %><span class='order-status-pending'>Waiting to be shipped</span><br>
                <% elsif item.status === 1 %><span class='order-status-shipped'>Shipped</span><br>
                Shipping Carrier: <%= item.shipping_method %></br> Shipping Number: <%= item.shipping_number %>
                <% end %>
              </br>
              </p>
              <div class="row order-info">
                <div class="col l1 m1 s4">
                  <%= image_tag item.product_item.product.image.url(:thumb) %>
                </div>
                <div class="col l2 m2 s3">
                  <p> Product: (<%= item.product_item.description %>) <%= item.product_item.product.title %> </p>
                </div>
                <div class="col l2 s9 hide-on-med-and-down">
                  <p> Category: <%= item.product_item.product.category %> </p>
                </div>
                <div class="col l2 m2 s3">
                  <p>Quantity: <%= item.quantity %></p>
                </div>
                <div class="col l3 s9 hide-on-med-and-down">
                  <p>Item Total: </br> $<%= item.quantity * item.product_item.product.price.to_i %>.00 </p>
                </div>
              </div>
              <h6 style="margin-left: 60%; font-weight: bold"> Subtotal: $<%= item.order.pre_tax_total %> </h6>
              <h6 style="margin-left: 60%; font-weight: bold"> Tax: $ </h6>
              <h6 style="margin-left: 60%; font-weight: bold"> Total: $<%= '%.2f' % (item.order.pre_tax_total.to_f) %> </h6>
              <% end %>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>
