<%= render partial: 'partials/shipping' %>

<div class="container">

  <div class="row" id='step-top-row'>
    <div class="col s12 center">
      <p class='account-header'><strong>Checkout</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col s4 offset-s2" id='step-col'>
      <p class='account-steps' id='step-1'>1. Shipping</p>
    </div>
    <div class="col s4" id='step-col'>
      <p class='account-steps' id='inactive'>2. Payment</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6" id='step-top-row'>
      <p class="account-steps" id='account-steps-header'><strong>Choose Shipping Address</strong></p>
      <% if @current_user_address[0] != nil %>
        <div class="row">
          <div class="col s9">
            <p class='acount-address-info'><strong> <%= @current_user_address[0].name %> </strong></p>
            <p class='acount-address-info'><%= @current_user_address[0].address %></p>
            <p class='acount-address-info'><%= @current_user_address[0].city %>, <%= @current_user_address[0].state %> <%= @current_user_address[0].zip %></p>
            <p class='acount-address-info'><%= @current_user_address[0].country %></p>
          </div>
          <div class="col s3">
            <i class="small green-text material-icons">done</i>
          </div>
        </div>
      <% end %>
      <% if current_user.addresses.length > 0 %>
          <% current_user.addresses.each do |address| %>
            <% if address.active === 'no' %>
            <div class="row">
              <div class="col s9">
                <!-- <p class='account-address-name'><strong><#%= current_user.name %></strong></p> -->
                <p class='acount-address-info'><strong> <%= address.name %> </strong></p>
                <p class='acount-address-info'><%= address.address %></p>
                <p class='acount-address-info'><%= address.city %>, <%= address.state %> <%= address.zip %></p>
                <p class='acount-address-info'><%= address.country %></p>
              </div>
              <div class="col s3">
                <%= form_for address do |f| %>
                  <%= f.hidden_field :active, :value => 'yes' %>
                  <%= f.submit "Select", :class => 'select-address'%>
                <% end %>
              </div>
            </div>
           <% end %>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col s12 center-align">
            <a class="btn waves-effect grey darken-3 modal-trigger center" href="#modal1">Add Address</a>
          </div>
        </div>

        <!-- Begin Modal -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 style='text-align: center;'>Add Shipping Address</h4>
          <%= form_for Address.new do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.text_field :name, :placeholder => "Shipping Name", :required => true %>
            <%= f.text_field :country, :placeholder => "Country", :required => true %>
            <%= f.text_field :address, :placeholder => "Address", :required => true %>
            <%= f.text_field :city, :placeholder => "City", :required => true %>
            <%= f.text_field :state, :placeholder => "State", :required => true %>
            <%= f.number_field :zip, :placeholder => "Zip Code", :maxlength => 5, :required => true %>
            <%= f.hidden_field :active, :value => 'no' %>
            <%= f.submit "Create Shipping Address", :class => 'btn waves-effect grey darken-3 center' %>
          <% end %>
        </div>
      </div>

      <p class='shipping-disclaimer-text'>
        DealBaked ships to all 50 U.S. states. We cannot ship to P.O. Boxes.<br>
        We're constantly working on expanding our shipping options and adding international shipping.
      </p>
    </div>
    <div class="col s12 l6 grey lighten-2 hide-on-med-and-down" id='step-top-row'>
        <div class="total-container">
          <div class="center">
            <p class='account-header'>Order Summary</p>
          </div>
          <div class='grey-text darken-4 subtotals'>
            <p>Item Subtotal: <span class='right amount'>$<%= @amount %>.00</span></p>
            <p>Sales Tax: <span class = "right amount">
              <% if @rate != nil %>
                $<%= '%.2f' % (@rate.combined_rate*@amount) %>
               <% else %>
                -
              <% end %>
              </span></p>
          </div>
          <div class='subtotals'>
            <p>Total: <span class = "right amount">
              <% if @rate != nil %>
                $<%= '%.2f' % (@amount + (@rate.combined_rate*@amount)) %>
              <% else %>
                $<%= @amount %>
              <% end %>
              </span> </p>

          </div>
          <div class='center'>
            <p><a  class='shipping-links' href="">Shipping</a> | <a  class='shipping-links' href="">Returns</a> | <a  class='shipping-links' href="">FAQs</a></p>
          </div>
          <div class="center">
            <p><strong class='shipping-contact-header'>Contact US</strong><br>
              <a class='shipping-links' href="mailto:support@dealbaked.com">support@dealbaked.com</a>
            </p>
          </div>
          <div class="center">
            <p class='shipping-contact-header'>
              DealBaked inc.<br>
              350 Sunny Street<br>
              Miami, FL 06900
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <% if @current_user_address.exists? %>
          <%= button_to "Next", new_charge_path, :class => "btn waves-effect red darken-3", method: :get%>
        <% end %>
      </div>
    </div>
  </div>

</div>
