<%= render partial: 'partials/header' %>

<div class="container" id='user-account-container'>
	<div class="row">
	    <div class="col l3 s12">
	      <div class="collection">
	        <a class='collection-item black-text grey lighten-3 active' href="#!">Order History</a>
	        <a class='collection-item black-text grey lighten-3' href="#!">Shipping Address</a>
	        <a class='collection-item black-text grey lighten-3' href="/user/support">Customer Support</a>
	      </div>
	    </div>
	    <div class="col l9 s12 center">
	      <%= form_for sessions_path do |f| %>
	      	<%= f.text_field :issue, :class => "black-text center", :placeholder => 'Issue' %>
		    <%= f.text_field :subject, :class => "black-text center", :placeholder => 'Subject' %>
		    <%= f.text_field :message, :class=> 'black-text center',:placeholder => 'Message' %>
		    <%= f.submit "Submit", :class => "btn waves-effect grey darken-3", :style=> "width:300px" %>
		   <% end %>       
	  	</div>
	</div>
</div>

<%= render partial: 'partials/footer' %> 