<h1> <%= current_user.email %> Affiliate Page  </h1>

<%= link_to "Products Page", view_path %>
<%= link_to "Sell a Product", sell_path %>

<h2> Products currently being listed: </h2>
<% current_user.products.each do |product| %>
  <% if product.status === 2 %>
    <h3> <%= product.title %> </h3>
    <h4> <%= product.category %> </h4>
    <h4> <%= product.price %> </h4>
    <p> <%= product.description %> </p>
  <% end %>
<% end %>

<h2> Products awaiting approval: </h2>
<% current_user.products.each do |product| %>
  <% if product.status === 0 %>
    <h3> Title: <%= product.title %> </h3>
    <h3> product.picture </h3>
    <h4>Category: <%= product.category %> </h4>
    <h4> $<%= product.price %>.00 </h4>
    <p> Description: <%= product.description %> </p>
  <% end %>
<% end %>

<h2> Products to be revised </h2>
<% current_user.products.each do |product| %>
  <% if product.status === 1 %>
    <h3> <%= product.title %> </h3>
    <h4> <%= product.category %> </h4>
    <h4> <%= product.price %> </h4>
    <p> <%= product.description %> </p>
    <h4>Notes From Admin: <%= product.admin_notes %> </h4>
  <% end %>
<% end %>
