    <%= render partial: 'partials/affiliate' %>

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Overall Metrics</p>
          </div>
        </div>
        <% @now = Time.now() %>
        <%= @now.strftime('%B %d, %Y') %>
        <%= (@now - 1.day).strftime('%B %d, %Y') %>
        <% @month_orders = Order.where('created_at = ?', Time.now() - 100.days) %>
        <%= @month_orders.count %>
        <%= area_chart @month_orders.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
        <div class="row">
          <div class="col l2r m2 s12 center">
            <p class='dashboard-headers'><strong>Conversion Rate</strong><p>
              <% if @total_views === 0 %>
              <p> No views! </p>
              <% else %>
                <p> <%= '%.3f' % ((@total_orders.to_f/@total_views)*100 )%>%  (<%= @total_orders %>/<%= @total_views %>)</p>
              <% end %>
          </div>
          <div class="col l2r m2 s12 center">
            <p class='dashboard-headers'><strong>Sales</strong><p>
              <% if @total_sales != nil %>
                <p> $<%= @total_sales %> </p>
              <% else %>
                <p> No sales yet </p>
              <% end %>
          </div>
          <div class="col l2r m2 s12 center">
            <p class='dashboard-headers'><strong>Impressions</strong><p>
              <% if @total_views != nil %>
                <p><%= @total_views %></p>
              <% else %>
                <p> No views yet</p>
              <% end %>
          </div>
          <div class="col l2r m2 s12 center">
            <p class='dashboard-headers'><strong>Products Sold</strong><p>
              <% if @total_products_sold != nil %>
                <p> <%= @total_products_sold %> </p>
              <% else %>
                <p> No products sold yet</p>
              <% end %>
          </div>
          <div class="col l2r m2 s12 center">
            <p class='dashboard-headers'><strong>Total Orders</strong><p>
              <% if @total_orders != nil %>
                <p> <%= @total_orders %> </p>
              <% else %>
                <p>No orders yet</p>
              <% end %>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'> <%= past_7_days.strftime("%b %d, %Y") %> to <%= Time.now.strftime("%b %d, %Y") %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Conversion Rate</strong><p>
              <% if @weeks_views === 0 %>
                <p>No views this week!</p>
              <% else %>
                <p> <%= '%.3f' % ((@weeks_orders.to_f/@weeks_views)*100) %>% (<%= @weeks_orders %>/<%= @weeks_views %>) </p>
              <% end %>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Sales</strong><p>
            <% if @week_sales != nil %>
              <p> $<%= @weeks_sales %> </p>
            <% else %>
              <p> No sales this week</p>
            <% end %>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Impressions</strong><p>
              <p> <%= @weeks_views %> </p>
          </div>
          <div class="col l3 m6 s12 center">
            <p class='dashboard-headers'><strong>Products Sold</strong><p>
              <% if @weeks_products_sold != nil %>
                <p><%= @weeks_products_sold %> </p>
              <% else %>
                <p>No products sold this week</p>
              <% end %>
          </div>
        <div class="row">
          <div class="col s12 center">
            <p class='account-header'>Week Orders</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <div class="row">
              <div class="col l6 m6 s12 center">
                <p class='dashboard-headers'><strong>Orders</strong></p>
                <p> <%= @weeks_orders %> </p>
              </div>
              <div class="col l6 m6 s12 center">
                <p class='dashboard-headers'><strong>Top Selling Product</strong></p>
                <% if @weeks_top_product != nil %>
                  <p><%= @weeks_top_product[0] %>: <%= @weeks_top_product[1] %> sold</p>
                <% else %>
                  <p> No products sold this week! </p>
                <% end %>
              </div>
              <!-- <div class="col l3 m6 s12 center">
                <p class='dashboard-headers'><strong>Most Viewed Product</strong></p>
              </div> -->
            </div>
            <div class="row">
              <div class="col s12 center">
                <p class='account-header'>Top Selling Products</p>
              </div>
            </div>
            <div class="row">
              <% @top_selling_products.each do |product| %>
              <div class="col l3 m6 s12 center">
                <%= image_tag product.image.url(:thumb) %>
                <h6> <%= product.title %>: <%= product.total_orders %> Orders </h6>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
