<h1> Sell... </h1>

<%= link_to "Affiliate Home", affiliates_path %>

<h3> Sell a Product: </h3>
<%= form_for @product do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :category %>
  <%= f.select :category do %>
    <%= ['Tech', 'Apparel', 'Accessories', 'Miscellanious'].each do |a| %>
      <%= content_tag(:option, a, value: a) %>
    <% end %>
  <% end %>
<%= f.label :picture %>
<%= f.file_field :picture %>
<%= f.label :price %>
<%= f.number_field :price %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :status, :value => 0 %>
  <% fields_for :inventory, @product.inventories do |ff| %>
    <%= ff.label :size %>
    <%= ff.text_field :size %>
    <%= ff.label :quantity %>
    <%= ff.number_field :quantity %>
  <% end %>
<%= f.submit "Sell a Product" %>
<% end %>
