<%= render partial: 'partials/affiliate' %>

<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Pending Orders</h1>
        <% @pending_orders.each do |order| %>
        <div id = "affiliate-order-div">
          <%= image_tag order.product_item.product.image.url(:medium) %>
          <h3> <%= order.quantity %> <%= order.product_item.description %> of <%= order.product_item.product.title %> </h3>
            <h5> Send to: <%= order.order.address.name %> </h5>
            <h6> <%= order.order.address.address %> </h6>
            <h6><%= order.order.address.city %>, <%= order.order.address.state %> <%= order.order.address.zip %> </h6>
            <h6> <%= order.order.address.country %> </h6> </br>
          <%= form_for order do |f| %>
            <%= f.hidden_field :status, :value => 1 %>
            <%= f.label "Shipping Method" %>
            <%= f.select :shipping_method do %>
            <% ['UPS', 'USPS', 'FedEx'].each do |a| %>
              <%= content_tag(:option, a, value: a) %>
              <% end %>
            <% end %>
            <%= f.text_field :shipping_number %>
            <%= f.submit "Mark Order as Shipped"%>
          <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</main>
</body>
</html>
