<% @new_arrivals.each_slice(3) do |slice| %>
<div class="row">

  <% slice.each do |arrival| %>
    <div class="col 14 m4 s12 product" style="display:inline-block">
      <div class="card">
         <%= link_to product_path(arrival.id) do %>
          <div class="card-image">
            <%= image_tag arrival.image.url(:medium), :class => "responsive-img" %>
            <div class="card-title" id = "card-category-title">
              <div style="font-size: 18px; font-weight: bold; color:white">
                <%= arrival.title %>
              </div>
              <div style="font-size:16px">
                  $<%= arrival.price %>.00 </br>
                  Created At: <%= arrival.created_at.strftime("%d %b. %Y") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<% end %>

<script>
  var active = true;

  function scroller(){
    $(window).scroll(function() {
      var url = $('.pagination > a').attr('href');
      if(active && url && $(window).scrollTop()>$(document).height()-$(window).height()-10){
        active = false;
        return $.getScript(url);
      }
    });
  }

  $(document).ready(function(){
    scroller()
  })
</script>
