<% if flash[:success] %>
  <div class="success-div">
    <h6 class = "success-text"> <%= flash[:success] %> </h6>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="error-div">
    <h6 class = "error-text"> <%= flash[:error] %> </h6>
  </div>
<% end %>

<h1>Edit <%= @product.title %> </h1>

<div class="container" id='main-content'>
  <div style = "width: 49%; background: white; display: inline-block">
    <%= form_for (ProductItem.new) do |f| %>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.text_field :description, :placeholder => "Item's Description (Large, red)", :required => true %>
      <%= f.number_field :quantity, :placeholder => "Item Quantity", :required => true %>
      <%= f.hidden_field :status, :value => 0 %>
      <%= f.submit "Create item for #{@product.title} Product" %>
    <% end %>
  </div>
  <div id = "product-items-div">
    <h4> <%= @product.title %>'s Item Inventory: </h4>
    <% @product.product_items.each do |item| %>
      <h5><%= item.description %> <%= item.product.title %>: <%= item.quantity %> item(s) in stock </h5>
      <!-- <button type="button" id ="edit-item-div">Edit Item</button> -->
      <div class="edit-item-form">
        <h6>Edit:</h6>
        <%= form_for item do |f| %>
        <%= f.label :description %>
        <%= f.text_field :description, :value => item.description %>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, :value => item.quantity %>
        <%= f.submit "Update Item", :class => "btn blue"%>
        <% end %>
        <%= button_to "Delete #{item.description} #{ @product.title }", product_item_path(item.id), method: :delete, :class => "btn red", data: { confirm: "Delete #{item.description} #{item.product.title}?" } %>
      </div>
    <% end %>
  </div> </br></br>

    <div class="row">
      <%= form_for @product do |f| %>
      <div class="col l6 s12">
        <%= image_tag @product.image.url(:medium), :id => "product-image", :class => "materialboxed responsive-img" %>
        <ul id='product-images-list'>
          <% if @product.image_two.exists? %>
            <li><%= image_tag @product.image_two.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_three.exists? %>
            <li><%= image_tag @product.image_three.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_four.exists? %>
            <li><%= image_tag @product.image_four.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_five.exists? %>
            <li><%= image_tag @product.image_five.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.embedded_video != '' %>
            <%= @product.embedded_video %>
            (<%= @product.video_status %>)
          <% else %>
            <%= f.label "Youtube Link" %>
            <%= f.text_field :embedded_video %>
            <%= f.select :video_status do %>
              <% ['Main Image', 'Sub-Image'].each do |a| %>
                <%= content_tag(:option, a, value: a,) %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col l6 s12">
        <div id="product-content">
          <div class="row">
              <h6>Title: <%= f.text_field :title, :value => @product.title, :required => true %> </h6>
              <h6> Price: <%= f.text_field :price, :value => @product.price, :required => true %> </h6>
              <h6>Priority: <%= f.number_field :priority, :min => 1, :max => 5, :placeholder => "Order product displays in, 5 coming first", :required => true %>
          </div>

          <div class="row">
            <div id='product-info'>
              <hr>
                <h6>Description: <%= f.text_field :description, :value => @product.description, :required => true %> </h6>
              </p>
              <hr>
                <ul id='feature-list'>
                  <li> Feature One: <%= f.text_field :feature_one, :value => @product.feature_one, :required => true %> </li>
                  <li> Feature Two: <%= f.text_field :feature_two, :value => @product.feature_two %> </li>
                  <li> Feature Three: <%= f.text_field :feature_three, :value => @product.feature_three %> </li>
                  <li> Feature Four: <%= f.text_field :feature_four, :value => @product.feature_four %> </li>
                  <li> Feature Five: <%= f.text_field :feature_five, :value => @product.feature_five %> </li>
                </ul>
              </p>
            </div>
          </div>
            <%= f.submit "Update #{@product.title}", :class => "btn blue" %> </br> </br>
          <% end %>
          <%= button_to "Delete #{@product.title}", product_path(@product.slug), method: :delete, :class => 'btn red', data: { confirm: "Delete #{@product.title}?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
  if($('.success-div')){
    setTimeout(function(){
      $('.success-div').fadeOut()
    }, 5000)
  }

  if($('.error-div')){
    setTimeout(function(){
      $('.error-div').fadeOut()
    }, 5000)
  }
  </script>
