<h1>Edit <%= @product.title %> </h1>
<%= button_to "Delete #{@product.title}", product_path(@product.id), method: :delete %>
<h6> <%= flash[:success] %> </h6>
<h6> <%= flash[:error] %> </h6>

<div class="container" id='main-content'>
    <%= form_for (ProductItem.new) do |f| %>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.text_field :description, :placeholder => "Item's Description (Large, red)", :required => true %>
      <%= f.number_field :quantity, :placeholder => "Item Quantity", :required => true %>
      <%= f.submit "Create item for #{@product.title} Product" %>
    <% end %>
    <!-- <div class="row black-text">
      <nav class='grey lighten-5' id='breadcrumbs-nav'>
        <div class="nav-wrapper black-text">
          <div class="col s12 black-text">
            <a href="../index.html" class="breadcrumb black-text">DealBaked HomePage</a>
            <a href="../views/category.html" class="breadcrumb black-text">Category 1</a>
          </div>
        </div>
      </nav>
    </div> -->
    <div class="row">
      <div class="col l6 s12">
        <%= image_tag @product.image.url(:medium), :id => "product-image", :class => "materialboxed responsive-img" %>
        <ul id='product-images-list'>
          <li><%= image_tag @product.image.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <li><%= image_tag @product.image.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <li><%= image_tag @product.image.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <div id="product-content">
          <div class="row">
            <h4 id='product-title'> <%= @product.title %> </h4>
            <h5 id='product-price'><strong> $<%= @product.price %> </strong></h5>

              <% @product.product_items.each do |item| %>
                <h6><%= item.description %>: <%= item.quantity %> </h6>
                <%= button_to "Delete #{item.description} #{ @product.title }", product_item_path(item.id), method: :delete %>
            <% end %>
          </div>

          <div class="row">
            <div id='product-info'>
              <hr>
              <p><strong>Desciption:</strong><br>
                <%= @product.description %>
              </p>
              <hr>
              <p><strong>Features:</strong>
                <ul id='feature-list'>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_one %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_two %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_three %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_four %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_five %> </li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row">
            <div id='product-info'>
              <hr>
              <p><strong>Shipping Information:</strong><br></p>
              <ul id='shipping-list'>
                <li>
                  <span class='grey-text'id='shipping-header'>Shipping Policy</span><br>
                  <span>Discounted Shipping</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Shipping Availability</span><br>
                  <span>Canada, USA</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Discounted Shipping</span><br>
                  <span>$10.00 first item / $10.00 each additional</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Ships In</span><br>
                  <span>2-3 weeks</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Return Policy</span><br>
                  <span>Final sale, not eligible for return</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
