<%= render partial: 'partials/header' %>

<div class="container" id='main-content'style="min-height:460px">
  <div class="content">
    <% if flash[:success] %>
      <div class="success-div">
        <p class ="success-text">
          <%= flash[:success] %>
        </p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error-div">
        <p class ="error-text">
          <%= flash[:error] %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if @active_banners != nil %>
      <% @active_banners.each do |banner| %>
      <div class="col l6 m12 s12" style= "display:inline-block">
        <% if banner.link_to === 'Best Sellers' %>
          <%= link_to best_sellers_path do %>
            <%= image_tag banner.image.url(:medium), :class => "responsive-img", :style => "max-height:350px; width:100%;display:inline-block" %>
          <% end %>
        <% elsif banner.link_to === 'New Arrivals' %>
          <%= link_to new_arrivals_path do %>
            <%= image_tag banner.image.url(:medium), :class => "responsive-img", :style => "max-height:350px; width:100%; display:inline-block" %>
          <% end %>
        <% elsif banner.link_to === 'Featured' %>
          <%= link_to featured_path do %>
            <%= image_tag banner.image.url(:medium), :class => "responsive-img", :style => "max-height:350px; width:100%; display:inline-block" %>
          <% end %>
        <% end %>
      </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col s12">
        <div class="infinite-table">
  	    <%= render :partial => 'product'%>
  	  </div>

  	  <p class="pagination" style="margin-left:47%">
  	    <%= link_to_next_page(@products, '', :remote => true) %>
  	  </p>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>

<script>
var active = false

function scroller(){
  $(window).scroll(function() {
    var url = $('.pagination > a').attr('href');
    if($(window).scrollTop()>$(document).height()-$(window).height()-50){
      if(!active && url){
        active = true;
        $('.pagination > a').append($('<img src="/loading_wheel.gif" id="loading-wheel" />'))
        $.getScript(url).then(function(){
          active = false;
        })
      }
    }
  });
}

  $(document).ready(function(){
    scroller()
  })

</script>
