<%= render partial: 'partials/header' %>

<div class="container" id='main-content'>
  <% if current_user.status === 2 %>
    <%= button_to "Edit #{@product.title}", edit_product_path(@product.id), method: :get %>
  <% end %>

  <% if flash[:error] %>
    <div class="error-div">
      <h5 class = "error-text"> <%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success-div">
      <h5 class = "success-text"> <%= flash[:success] %></h5>
    </div>
  <% end %>

    <div class="row">
      <!-- <h3> <%= @product.impressionist_count %> Views </h3>
      <h3> <%= @product.impressionist_count(:filter=>:ip_address) %> Unique IP Views </h3>
      <h3> <%= @product.impressionist_count(:filter=>:session_hash) %> Unique Session Views </h3> -->
      <div class="col l6 s12">
        <%= image_tag @product.image.url(:medium), :id => "product-image", :class => "materialboxed responsive-img" %>
        <ul id='product-images-list'>
          <% if @product.image_two.exists? %>
            <li><%= image_tag @product.image_two.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_three.exists? %>
            <li><%= image_tag @product.image_three.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_four.exists? %>
            <li><%= image_tag @product.image_four.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
          <% if @product.image_five.exists? %>
            <li><%= image_tag @product.image_five.url(:medium), :class => "materialboxed responsive-img", :style => "width:150px" %></li>
          <% end %>
        </ul>
      </div>
      <div class="col l6 s12">
        <div id="product-content">
          <div class="row">
            <h4 id='product-title'> <%= @product.title %> </h4>
            <h5 id='product-price'><strong> $<%= @product.price %> </strong></h5>
          </div>
          <div class="row" style='margin-top:-25px'>
            <div class="input-field col s12 center">
            <% if @product.product_items.where('status = ?', 0).exists? %>
              <%= form_for @cart_item do |f| %>
                <%= f.select :product_item_id, :class => "browser-default", :id => "add-to-cart-qty" do %>
                  <% @product.product_items.where('status = ?', 0).each do |item| %>
                    <%= content_tag(:option, item.description, value: item.id) %>
                    <% end %>
                  <% end %>
                <%= f.select :quantity, :class => 'browser-default', :id => 'add-to-cart-qty' do %>
                  <% (1..5).each do |a| %>
                    <%= content_tag(:option, a, value: a) %>
                  <% end %>
                <% end %>
                <%= f.hidden_field :affiliate_id, :value => @product.user_id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit 'ADD TO CART', :class => 'btn grey darken-3', :id => 'add-to-cart-btn'  %>
              <% end %>
              <% else %>
              <h4> SOLD OUT </h4>
            <% end %>
            </div>
          </div>
          <div class="row">
            <div id='product-info'>
              <hr>
              <p><strong>Desciption:</strong><br>
                <%= @product.description %>
              </p>
              <hr>
              <p><strong>Features:</strong>
                <ul id='feature-list'>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_one %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_two %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_three %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_four %> </li>
                  <li><i class="grey-text darken-3 fa fa-check fa-1x"></i> <%= @product.feature_five %> </li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row">
            <div id='product-info'>
              <hr>
              <p><strong>Shipping Information:</strong><br></p>
              <ul id='shipping-list'>
                <li>
                  <span class='grey-text'id='shipping-header'>Shipping Policy</span><br>
                  <span>Discounted Shipping</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Shipping Availability</span><br>
                  <span>Canada, USA</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Discounted Shipping</span><br>
                  <span>$10.00 first item / $10.00 each additional</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Ships In</span><br>
                  <span>2-3 weeks</span>
                </li>
                <li>
                  <span class='grey-text'id='shipping-header'>Return Policy</span><br>
                  <span>Final sale, not eligible for return</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render partial: 'partials/footer' %>

<script>
if($('.success-div')){
  setTimeout(function(){
    $('.success-div').fadeOut()
  }, 5000)
}

if($('.error-div')){
  setTimeout(function(){
    $('.error-div').fadeOut()
  }, 5000)
}
</script>
