<% if current_user == nil %>
  <h1>No user</h1>
  <%= button_to "Login/Create User", users_path, method: :get %>
<% elsif current_user != nil %>
  <h1> Hello <%= current_user.email %> </h1>
  <% if current_user.status === 1 %>
    <%= link_to "Affiliate Page", affiliates_path %>
  <% elsif current_user.status === 2 %>
    <%= link_to "Admin Page", admins_path %>
  <% end %>
  <%= button_to "Logout", sessions_path, method: :delete %>
<% end %>

<div ng-controller = "ProductsController">
  <div ng-repeat = "product in products" id = "each-product" class = "col 14 m12 s12">
    <div class="row">
      <div class="card">
        <div class="card-image">
          <img src="{{product.picture}}" class = "responsive-img" alt="" />
          <div class="card-title" id = "card-category-title">
            <div style = "font-size: 18px; font-weight: bold; color:white">
              {{product.title}}
          </div>
          <div style="font-size: 16px">
            ${{product.price}}.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <#% @accepted_products.each_slice(3) do |slice| %>
<div class="row">

  <#% slice.each do |product| %>
    <div class="col l4 m12 s12">
      <#%= link_to product_path(product.id)  do %>
        <div class="card">
          <div class="card-image">
            <#%= image_tag(product.picture, :class => 'responsive-img') %>
            <img class="responsive-img" src="../images/sample-pic.jpg" style='height:300px'>
            <div class="card-title" id='card-category-title'>
              <div style = "font-size: 18px; font-weight: bold; color:white">
                <#%= product.title %>
              </div>
              <div style = "font-size: 16px">
                $<#%= product.price %>.00
            </div>
          </div>
        </div>
    </div>
    <#% end %>
  </div>
  <#% end %>

</div>
<#% end %> -->
