<% if current_user == nil %>
  <h1>No user</h1>
  <%= button_to "Login/Create User", users_path, method: :get %>
<% elsif current_user != nil %>
  <h1> Hello <%= current_user.email %> </h1>
  <% if current_user.status === 1 %>
    <%= link_to "Affiliate Page", affiliates_path %>
  <% elsif current_user.status === 2 %>
    <%= link_to "Admin Page", admins_path %>
  <% end %>
  <%= button_to "Logout", sessions_path, method: :delete %>
<% end %>

<h2>Products:</h2>

<% @accepted_products.each_slice(3) do |slice| %>
<div class="row">

  <% slice.each do |product| %>
    <div class="col l4 m12 s12">
      <%= link_to product_path(product.id)  do %>
        <div class="card">
          <div class="card-image">
            <%= image_tag(product.picture, :class => 'responsive-img') %>
            <!-- <img class="responsive-img" src="../images/sample-pic.jpg" style='height:300px'> -->
            <div class="card-title" id='card-category-title'>
              <div style = "font-size: 18px; font-weight: bold; color:white">
                <%= product.title %>
              </div>
              <div style = "font-size: 16px">
                $<%= product.price %>.00
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>


<footer class="page-footer grey lighten-2" stlye='min-hieght:190px'>
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-instagram fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-facebook fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-twitter fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-google-plus fa-lg"></i></a>
        <a class="grey-text darken-4" id='footer-icons' href=""><i class="fa fa-pinterest fa-lg"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <a class="grey-text darken-4" id='footer-links' href="../views/about.html">About</a>
        <a class="grey-text darken-4" id='footer-links' href="../views/terms.html">Terms</a>
        <a class="grey-text darken-4" id='footer-links' href="../views/faq.html">FAQ</a>
        <a class="grey-text darken-4" id='footer-links' href="../views/shipping.html">Shipping</a>
        <a class="grey-text darken-4" id='footer-links' href="../views/affiliates.html">Affiliates</a>
        <a class="grey-text darken-4" id='footer-links' href="../views/contact.html">Contact</a>
      </div>
    </div>
    </div>
    <div class="footer-copyright grey lighten-2">
      <div class="container center">
        <span class='grey-text darken-4' id='footer-copyright'>©2016 DealBaked, DealBaked inc.</span>
      </div>
    </div>
  </footer>
</body>
</html>
