<%= render partial: 'partials/shipping' %>


<div class="container">
  <% if flash[:error] %>
    <div class="error-div">
      <h5 class = "error-text"> <%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success-div">
      <h5 class = "success-text"> <%= flash[:success] %></h5>
    </div>
  <% end %>

  <div class="row" id='step-top-row'>
    <div class="col s12 center">
      <p class='account-header'><strong>Checkout</strong></p>
    </div>
  </div>

  <div class="row" id='step-top-row'>
    <div class="col s4 offset-s2" id='step-col'>
      <p class='account-steps' id='inactive' style='text-align: right;'><a class='account-steps-link'href="/shipping">1. Shipping</a></p>
    </div>
    <div class="col s4" id='step-col'>
      <p class='account-steps'>2. Payment</p>
    </div>
  </div>

  <div class="row">
    <div class="col l6 s12">
      <div class="row" id='step-top-row'>
        <div class="col s12">
          <p class='account-steps'>Shipping Address</p>
          <p class='acount-address-info'><strong><%= @current_user_address[0].name %></strong></p>
          <p class='acount-address-info'> <%= @current_user_address[0].address %> </p>
          <p class='acount-address-info'> <%= @current_user_address[0].city %>, <%= @current_user_address[0].state%> <%= @current_user_address[0].zip %> </p>
          <p class='acount-address-info'> <%= @current_user_address[0].country %> </p>
        </div>

      </div>
      <div class="row">
        <div class="col s12">
          <p class='account-steps' style='margin-bottom:0px'>Items</p>
          <div class='left cart-product-info'>
            <% current_user.cart_items.each do |item| %>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>

              <table class='cart-price-table'>
                <tbody>
                  <tr>
                    <th class='checkout-td'><%= item.product_item.product.title %></th>
                    <th class='checkout-td'>Quantity:</th>
                    <th class='checkout-td'>Price:</th>
                  </tr>
                  <tr>
                    <td class='checkout-td'><%= image_tag item.product_item.product.image.url(:thumb) %></td>
                    <td class='checkout-td'><%= item.quantity %></td>
                    <td class='checkout-td'>$<%= item.product_item.product.price.to_i * item.quantity %>.00</td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>

        </div>
      </div>

    </div>
    <div class="col s12 l6 grey lighten-2" id='step-top-row'>
        <div class="total-container">
          <div class="center">
            <p class='account-header'>Order Summary</p>
          </div>
          <div class='grey-text darken-4 subtotals'>
            <p>Item Subtotal: <span class='right amount'>$<%= @amount %></span></p>
            <p>Sales Tax: <span class = "right amount">$<%= '%.2f' % (@amount * @rate.combined_rate) %></span></p>
          </div>
          <div class='subtotals'>
            <p>Total: <span class = "right amount">$<%= '%.2f' % (@amount*(1+@rate.combined_rate)) %> </span> </p>
          </div>
          <div class='center hide-on-med-and-down'>
            <p><a  class='shipping-links' href="">Shipping</a> | <a  class='shipping-links' href="">Returns</a> | <a  class='shipping-links' href="">FAQs</a></p>
          </div>
          <div class="center hide-on-med-and-down">
            <p><strong class='shipping-contact-header'>Contact US</strong><br>
              <a class='shipping-links' href="mailto:support@dealbaked.com">support@dealbaked.com</a>
            </p>
          </div>
          <div class="center hide-on-med-and-down">
            <p class='shipping-contact-header'>
              DealBaked inc.<br>
              350 Sunny Street<br>
              Miami, FL 06900
            </p>
          </div>
        </div>
      </div>
  </div>
<%= form_tag charges_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="DealBaked Checkout"
          data-amount=<%= '%.0f' % (@stripe_amount*(1+@rate.combined_rate))%>
          data-locale="auto"></script>
<% end %>

</div>
