<!DOCTYPE html>
<html>
<head>
  <title>DealBaked</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>


<body class='grey lighten-5'>
    <!-- Compiled and minified Jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <!-- Pacifico Font -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script>
    $(document).ready(function() {
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      $('select').material_select();

        $('#sign-up-tag').click(function(){
          console.log('signup');
          $('#signup-content').toggle();
          $('#login-content').toggle();
        })

        function toggleSignUp(){
          $('.ToggleOff').removeClass('ToggleOff')
          $('#login-content').addClass('ToggleOff')
          $('#signup-button').addClass('ToggleOff')
        }

        function toggleLogIn(){
          $('.ToggleOff').removeClass('ToggleOff');
          $('#signup-content').addClass('ToggleOff')
          $('#login-button').addClass('ToggleOff')
        }

        $('#sign-up-tag').on('click', function() {
          toggleSignUp()
        });

        $('#login-tag').on('click', function() {
          toggleLogIn()
        });

    });
  </script>


<%= yield %>

</body>
</html>
